.room-booking__table
	$border-spacing-div-margin: 14px //.84375rem //13.5px //.875rem //14px //One variable to rule the world!
	width: calc(100% + .0625rem) //to fit the template
	border-spacing: 0 $border-spacing-div-margin
	line-height: normal
	margin: -$border-spacing-div-margin 0 $border-spacing-div-margin 0

@media screen and (max-width:$tablet-max)
	.room-booking__table
		width: 100%
		margin-top: 2vw
		font-size: .8rem

@media screen and (max-width:$mobile-max)
	.room-booking__table
		font-size: .5rem

.room-booking__table td
	vertical-align: top

.room-booking__table td:first-child
	width: 68.8%
	// width: 220px


.room-booking__table td:last-child
	text-align: right
	vertical-align: top
