.room-booking__table
	$border-spacing-div-margin: 14px //.84375rem //13.5px //.875rem //14px //One variable to rule the world!
	// width: calc(100% + .0625rem) //to fit the template
	width: 100%
	border-spacing: 0 $border-spacing-div-margin
	line-height: normal
	margin: -$border-spacing-div-margin 0 $border-spacing-div-margin 0

.room-booking__table td
	vertical-align: top

.room-booking__table td:first-child
	// width: 75%// 68.8%
	// display: flex
	// width: 220px

.room-booking__table td:last-child
	text-align: right
	vertical-align: top
