mixin room-small-info(object)
	.room-small-info.border-corners--all
		.room-small-info__gallery
			img(src=object.image).border-corners--top
			.room-small-info__arrow-prev-wrapper.border-corners--top-left
				.arrow-triangle.arrow-triangle--to-left
			.room-small-info__arrow-next-wrapper.border-corners--top-right
				.arrow-triangle.arrow-triangle--to-right
		.room-small-info__info