mixin room-small-info(object)
	.room-small-info
		.room-small-info__gallery
			img(src=object.image)
			.room-small-info__arrow-prev
				.arrow-triangle.arrow-triangle--to-left
			.room-small-info__arrow-next
				.arrow-triangle.arrow-triangle--to-right
		.room-small-info__info