.room-small-info__gallery
	flex-basis: 59% //58.9%
	position: relative

.room-small-info__gallery img
	width: 100%
	object-fit: cover



// .room-small-info__gallery:after,
// .room-small-info__gallery:before
// 	content: ''
// 	position: absolute
// 	top: 0
// 	background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%)
// 	width: 42px
// 	height: 100%
	
.room-small-info__info
	flex-basis: auto
	display: flex
	flex-direction: column

.room-small-info
	height: 257.5px
	width: 270px
	box-shadow: 0px 10px 20px rgba($all-document-text-color, 0.05)
	border-radius: 4px
	display: flex
	flex-direction: column
