@import ./__lower-empty-space/user-act-header-container__lower-empty-space

.user-act-header-container
	height: 48.25rem //772px
	background: url('@/assets/img/useract.jpg') no-repeat center
	background-size: cover
	display: flex
	flex-direction: column
	justify-content: space-between