@import ./_to-bottom/field-template_to-bottom
@import ./_to-top/field-template_to-top

//Стрелка из css для icon-field
.field-template__arrow-css
	width: .1875rem //3px
	height: .1875rem //3px
	border: solid
	border-width: 0 2px 2px 0
	padding: .1875rem //3px

