.like-button
  position: relative
  width: 40px
  height: 20px
  border: .0625rem solid rgba($all-document-text-color, $dark-shade-quater) //1px
  border-radius: 0.625rem //10px

.like-button__heart-icon
  position: absolute
  top: -1px
  left: -1px
  width: 20px
  height: 20px
  background: url('@/assets/blocks/like-button/heart-empty.svg') center no-repeat
  opacity: $dark-shade-quater

.like-button__content
  position: absolute
  right: 11px
  top: 0px
  line-height: 17px
  font-size: 10px
  color: rgba($all-document-text-color, $dark-shade-quater)