@import ./__background/like-button__background
@import ./__heart-icon/like-button__heart-icon
@import ./__content/like-button__content
@import ./__input/like-button__input

.like-button
  display: block
  position: relative
  width: 2.375rem //38px
  height: 1.125rem //18px
  background: #fff
  border-radius: 0.625rem //10px
  cursor: pointer