@import ./__background/like-button__background
@import ./__heart-icon/like-button__heart-icon
@import ./__content/like-button__content

.like-button-input
  position: absolute
  opacity: 0

.like-button
  display: inline-block
  position: relative
  width: 38px //2.5rem //40px
  height: 18px //1.25rem //20px
  background: #fff
  border-radius: 0.625rem //10px

// .like-button-input:checked+label .like-button__heart-icon
//   background: url('@/assets/blocks/like-button/heart-filled.svg') center no-repeat
//   opacity: $dark-shade-total

// .like-button-input:checked+label .like-button__content
//   color: rgba($purple, $dark-shade-total)

// .like-button-input:checked+label .like-button__background
//   background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%)

