include ../../../assets/blocks/text-field/text-field.pug
include ../../../assets/blocks/text-field-with-info/text-field-with-info.pug
include ../../../assets/blocks/checkbox-radio/checkbox-radio.pug
include ../../../assets/blocks/like-button/like-button.pug
include ../../../assets/blocks/rating-area/rating-area.pug
include ../../../assets/blocks/range-slider/range-slider.pug
include ../../../assets/blocks/elongated-button/elongated-button.pug
include ../../../assets/blocks/pagination/pagination.pug

div(class='wrapper wrapper__elements')
	.gull-emblem-container
		.gull-emblem
	.form-elements
		.form-small-elements
			.form-small-elements__column
				.form-small-elements__simple-forms
					+text-field-with-info({tfType: 'text-field', tfName: 'tf1', tfValue: 'Email', title: 'text field', aditional: 'default', titleClass: 'padding-top'})
					.additional-info-block
						h3(class='additional-info-block__title additional-info-block__title--padding-top') text field
						h3(class='additional-info-block__status additional-info-block__status-text .additional-info-block__status-text--compact') hover / focus
						.text-field-cont__visualisation
							.div(class='field-template field-template--border-hovered border-corners--all')
								input(type='text' placeholder='This is pretty awesome' class='field-template__input-field')

					+text-field-with-info({tfType: 'dropdown-field', dropdown_hidden: 'true', tfValue: 'Сколько гостей', title: 'dropdown'})
					+text-field-with-info({tfType: 'text-field', tfName: 'tf2', tfValue: 'ДД.ММ.ГГГГ', tfPattern: '[1-3][0-9].[0-1][0-9].[1-2][0,9][0-9][0-9]', 
						title: 'masked text field'})
				.div(style='height: 35px')
				.form-small-elements__date-subscr-forms
					//- .small-date-container
					.double-form
						.double-form__container
							+text-field-with-info({tfType: 'dropdown-field', dropdown_hidden: 'true', tfValue: 'ДД.ММ.ГГГГ', title: 'date dropdown'})
						.double-form__container
							+text-field-with-info({tfType: 'dropdown-field', dropdown_hidden: 'true', tfValue: '19.08.2019', title: 'date dropdown'})
					//- Блок для поля с выпадающей датой среднего размера
					.middle-field
						+text-field-with-info({tfType: 'dropdown-field', dropdown_hidden: 'true', tfValue: '19 авг - 23 авг', title: 'filter date dropdown'})
					.middle-field
						+text-field-with-info({tfType: 'subscribe-field', tfValue: 'Email', title: 'subscription text field'})


			.form-small-elements__column
				//- Чекбоксы
				.form-small-elements__buttons-block
					h3.title-not-for-fields checkbox buttons
					.button-container
						+checkbox-radio({type:'checkbox', id:'smoke', text:'Можно курить'})
					.button-container
						+checkbox-radio({type:'checkbox', id:'animals', text:'Можно с питомцами', checked:true})
					div(class='button-container button-container--small button-container--last')
						+checkbox-radio({type:'checkbox', id:'friends', text:'Можно пригласить гостей (до 10 человек)', checked:true})
				//- Радио кнопки
				.form-small-elements__buttons-block
					h3.title-not-for-fields radio buttons
					div(class='button-container')
						+checkbox-radio({type:'radio', id:'male', name:'gender', text:'Мужчина', checked:true})
					div(class='button-container button-container--last button-container--inline-paddings')
						+checkbox-radio({type:'radio', id:'female', name:'gender', text:'Женщина'})
				//- Чекбоксы в виде овала с круглым идентификатором
				.form-small-elements__buttons-block
					h3.title-not-for-fields toggle
					.button-container
						+checkbox-radio({type:'toggle-switch', id:'spec1', name:'special-offer', text:'Получать спецпредложения', checked:true})
					div(class='button-container button-container--last-plus button-container--toggle-switch-paddings')
						+checkbox-radio({type:'toggle-switch', id:'spec2', name:'special-offer', text:'Получать спецпредложения'})
				//- Кнопки 'нравится'
				.form-small-elements__buttons-block
					h3.title-not-for-fields like button
					div(class='button-container button-container--last-minus')
						+like-button({id:'likes', number_of_likes:'2'})
					div(class='button-container button-container--likes-paddings button-container--last-minus')
						+like-button({id:'likesnot', number_of_likes:'12', checked: true})
				//- Рейтинг
				.form-small-elements__buttons-block
					h3.title-not-for-fields rate button
					.button-container
						+rating-area({name: 'one', rating: 4})
					.div(class='button-container button-container--inline-paddings')
						+rating-area({name: 'two', rating: 5})


			.form-small-elements__column
				.div(style='margin-bottom:10px; width:266px')
					+range-slider
				+range-slider
				.div(style='margin-bottom:10px')
					+elongated-button({sizeWidth: '6.1875rem', sizeHeight: '2.75rem', text: 'click me', buttonType: 'filled'})
				.div(style='margin-bottom:10px')
					+elongated-button({sizeWidth: '6.1875rem', sizeHeight: '2.75rem', text: 'click me', buttonType: 'filled', 
						disabled: true})
				.div(style='margin-bottom:10px')
					+elongated-button({sizeWidth: '6.1875rem', sizeHeight: '2.75rem', text: 'click me', buttonType: 'empty'})
				.div(style='margin-bottom:10px')
					+elongated-button({sizeWidth: '6.1875rem', sizeHeight: '2.75rem', text: 'click me', buttonType: 'empty', 
						disabled: true})
				.div(style='margin-bottom:10px')
					+elongated-button({sizeWidth: '6.1875rem', sizeHeight: '1.75rem', text: 'click me', buttonType: 'no-border'})
				.div(style='margin-bottom:10px')
					+elongated-button({sizeWidth: '6.1875rem', sizeHeight: '1.75rem', text: 'click me', buttonType: 'no-border', 
						disabled: true})
				.div(style='margin-bottom:10px')
					+elongated-button({sizeWidth: '20rem', sizeHeight: '2.75rem', text: 'перейти к оплате',
						buttonType: 'with-arrow'})
				.div(style='margin-bottom:10px; width:245px')
					+pagination
				
				