include ../../../assets/blocks/text-field/text-field.pug
include ../../../assets/blocks/text-field-with-info/text-field-with-info.pug
include ../../../assets/blocks/datepicker/datepicker.pug
include ../../../assets/blocks/checkbox-radio/checkbox-radio.pug
include ../../../assets/blocks/gender-select-radio/gender-select-radio.pug
include ../../../assets/blocks/like-button/like-button.pug
include ../../../assets/blocks/rating-area/rating-area.pug
include ../../../assets/blocks/range-slider/range-slider.pug
include ../../../assets/blocks/elongated-button/elongated-button.pug
include ../../../assets/blocks/pagination/pagination.pug
include ../../../assets/blocks/incdec-field/incdec-field.pug
include ../../../assets/blocks/dropdown/dropdown.pug
include ../../../assets/blocks/expandable-checkbox-list/expandable-checkbox-list.pug
include ../../../assets/blocks/rich-checkbox-button/rich-checkbox-button.pug
include ../../../assets/blocks/bullet-list/bullet-list.pug
include ../../../assets/blocks/room-description/room-description.pug
include ../../../assets/blocks/feedback/feedback.pug



div(class='wrapper wrapper__elements')
	.gull-emblem-container
		.gull-emblem.gull-emblem--grey
	.form-elements-wrapper
		.form-elements
			.form-elements__column
				.form-elements__simple-forms
					+text-field-with-info({tfType: 'text-field', tfName: 'tf1', tfPlaceholder: 'Email', tfInputType: 'email', title: 'text field', aditional: 'default', titleClass: 'padding-top'})
					+text-field-with-info({tfType: 'text-field', tfName: 'tf1.1', title: 'text field', tfPlaceholder: 'This is pretty awesome',
						aditional: 'hover / focus', tfValue: 'This is pretty awesome', tfHovered: true})

					+text-field-with-info({tfType: 'dropdown-field', tfDropdownHidden: true, tfPlaceholder: 'Сколько гостей', title: 'dropdown'})
					+text-field-with-info({tfType: 'text-field', tfName: 'tf2', tfPlaceholder: 'ДД.ММ.ГГГГ', tfPattern: '[1-3][0-9].[0-1][0-9].[1-2][0,9][0-9][0-9]', 
						title: 'masked text field'})
				div(style='height:40px;')
				.form-elements__date-subscr-forms
					+multi-datepicker({id: 'two', titleStart: 'date dropdown', titleEnd: 'date dropdown',
						setDateStart: 'ДД.ММ.ГГГГ', setDateEnd: '19.08.2019' })
					//- Блок для поля с выпадающей датой среднего размера
					.middle-field
						+single-datepicker({id: 'sngl', title: 'filter date dropdown', dateSet: '19 авг - 23 авг' })
					.middle-field
						+text-field-with-info({tfType: 'subscribe-field', tfPlaceholder: 'Email', title: 'subscription text field'})


			.form-elements__column
				//- Чекбоксы
				.form-elements__buttons-block(style='width: 14.375rem')
					h3.title-not-for-fields checkbox buttons
					.button-container
						+checkbox-radio({type:'checkbox', id:'smoke', text:'Можно курить'})
					.button-container
						+checkbox-radio({type:'checkbox', id:'animals', text:'Можно с питомцами', checked:true})
					div(class='button-container button-container- button-container--last')
						+checkbox-radio({type:'checkbox', id:'friends', text:'Можно пригласить гостей (до 10 человек)', checked:true})
				//- Радио кнопки
				.form-elements__buttons-block
					h3.title-not-for-fields radio buttons
					div(class='button-container')
						+checkbox-radio({type:'radio', id:'male', name:'gender', text:'Мужчина', value: 'male', checked:true})
					div(class='button-container button-container--last button-container--inline-paddings')
						+checkbox-radio({type:'radio', id:'female', name:'gender', text:'Женщина', value: 'female'})
				//- Чекбоксы в виде овала с круглым идентификатором
				.form-elements__buttons-block(style='margin-top:0')
					h3.title-not-for-fields toggle
					.button-container
						+checkbox-radio({type:'toggle-switch', id:'spec1', name:'special-offer', text:'Получать спецпредложения', checked:true})
					div(class='button-container button-container--last-plus button-container--toggle-switch-paddings')
						+checkbox-radio({type:'toggle-switch', id:'spec2', name:'special-offer', text:'Получать спецпредложения'})
				//- Кнопки 'нравится'
				.form-elements__buttons-block
					h3.title-not-for-fields like button
					div(class='button-container button-container--last-minus')
						+like-button({id:'likes', number_of_likes: 2})
					div(class='button-container button-container--likes-paddings button-container--last-minus')
						+like-button({id:'likesnot', number_of_likes: 12, checked: true})
				//- Рейтинг
				.form-elements__buttons-block(style='margin-top:0')
					h3.title-not-for-fields rate button
					.button-container
						+rating-area({name: 'one', rating: 4})
					.div(class='button-container button-container--inline-paddings')
						+rating-area({name: 'two', rating: 5})

			.form-elements__column
				.middle-field
					+range-slider
				.div(style='height:2.8125rem')
				h3 buttons
				div(style='width:13.5625rem')
					div(class='double-form double-form--margin-top-bottom')
						+elongated-button({sizeWidth: '6.1875rem', sizeHeight: '2.75rem', text: 'click me', buttonType: 'filled'})
						+elongated-button({sizeWidth: '6.1875rem', sizeHeight: '2.75rem', text: 'click me', buttonType: 'filled', disabled: true})
					.div(class='double-form double-form--margin-top-bottom')
						+elongated-button({sizeWidth: '6.1875rem', sizeHeight: '2.75rem', text: 'click me', buttonType: 'empty'})
						+elongated-button({sizeWidth: '6.1875rem', sizeHeight: '2.75rem', text: 'click me', buttonType: 'empty', disabled: true})
					.div(class='double-form double-form--margin-top-bottom no-border-button-margins' style='')
						+elongated-button({sizeWidth: '4rem', sizeHeight: '1.75rem', text: 'click me', buttonType: 'no-border'})
						+elongated-button({sizeWidth: '4rem', sizeHeight: '1.75rem', text: 'click me', buttonType: 'no-border', disabled: true})
	
				.div(style='height:.4375rem')

				+elongated-button({sizeWidth: '20rem', sizeHeight: '2.75rem', text: 'перейти к оплате',
					buttonType: 'with-arrow-right'})
				.div(style='height:2.375rem')
				.text-field-with-info
					h3(class='text-field-with-info__title text-field-with-info__title--padding-top') pagination
					.text-field-cont__visualisation
						div(style='margin-top: .75rem; margin-left: .125rem') 
							+pagination({
								beginFromPage: 1,
								itemsPerPage: 12,
								totalItems: 170,
								})
		.div(style='height:6.375rem')
		.form-elements(style='height:16.625rem')
			.form-elements__column
				.middle-field
					+dropdown({
						items: [
							{idName: 'bedrooms', text: 'спальни', value: '2', valueDependendText: ['спален', 'спальня', 'спальни'] },
							{idName: 'beds', text: 'кровати', value: '2', valueDependendText: ['кроватей', 'кровать', 'кровати'] },
							{idName: 'bathrooms', text: 'ванные комнаты', value: '0', valueDependendText: ['ванных комнат', 'ванная комната', 'ванные комнаты'] }
						],
						dropdownName: 'nghj',
						tfEmptyTitle: 'Характеристика комнат',
						tfTitle: 'dropdown',
						tfAdditional: 'default',
						expanded: 'check'
					})
					.div(style='height:1.3125rem')
					+dropdown({
						items: [
							{idName: 'bedrooms', text: 'спальни', value: '2', valueDependendText: ['спален', 'спальня', 'спальни'] },
							{idName: 'beds', text: 'кровати', value: '2', valueDependendText: ['кроватей', 'кровать', 'кровати'] },
							{idName: 'bathrooms', text: 'ванные комнаты', value: '0', valueDependendText: ['ванных комнат', 'ванная комната', 'ванные комнаты'] }
						],
						dropdownName: 'facilities',
						tfEmptyTitle: 'Характеристика комнат',
						tfTitle: 'dropdown',
						tfAdditional: 'expanded',
						expanded: true
					})
			.form-elements__column(style='margin-left:3.375rem')
				+dropdown({
						items: [
							{idName: 'grownup', text: 'взрослые', value: '0', valueDependendText: ['гостей', 'гость', 'гостя'] },
							{idName: 'kids', text: 'дети', value: '0', valueDependendText: ['гостей', 'гость', 'гостя'] },
							{idName: 'infants', text: 'младенцы', value: '0', valueDependendText: ['младенцев', 'младенец', 'младенца'] }
						],
						dropdownName: 'guests-one',
						tfEmptyTitle: 'Сколько гостей',
						tfTitle: 'dropdown',
						expanded: true,
						hasButtonsBelow: true
					})
			.form-elements__column
				+dropdown({
						items: [
							{idName: 'grownup', text: 'взрослые', value: '2', valueDependendText: ['гостей', 'гость', 'гостя'] },
							{idName: 'kids', text: 'дети', value: '1', valueDependendText: ['гостей', 'гость', 'гостя'] },
							{idName: 'infants', text: 'младенцы', value: '0', valueDependendText: ['младенцев', 'младенец', 'младенца'] }
						],
						dropdownName: 'guests-two',
						tfEmptyTitle: 'Сколько гостей',
						tfTitle: 'dropdown',
						expanded: true,
						hasButtonsBelow: true
					})
		.div(style='height:2.5rem')
		.form-elements(style='height:18.5rem')
			.form-elements__column
				.middle-field
					+expandable-checkbox-list({
						items: [
							{id: 'breakfast', text: 'завтрак', checked: false},
							{id: 'table', text: 'письменный стол', checked: false},
							{id: 'child-chair', text: 'стул для кормления', checked: false},
							{id: 'bed', text: 'кроватка', checked: false},
							{id: 'tv', text: 'телевизор', checked: false},
							{id: 'shampoo', text: 'шампунь', checked: false},
						],
						tfEmptyTitle: 'expandable checkbox list',
						hidden: true,
						tfName: 'expandableTestOne'
					})
					.div(style='margin-top:14px')
					+expandable-checkbox-list({
						items: [
							{id: 'onebreakfast', text: 'завтрак', checked: false},
							{id: 'onetable', text: 'письменный стол', checked: true},
							{id: 'onechild-chair', text: 'стул для кормления', checked: true},
							{id: 'onebed', text: 'кроватка', checked: true},
							{id: 'onetv', text: 'телевизор'},
							{id: 'oneshampoo', text: 'шампунь'},
						],
						tfEmptyTitle: 'expandable checkbox list',
						hidden: false,
					})
			.form-elements__column(style='padding-left:1.6875rem; padding-top: .8125rem')
				//- .middle-field
				h3(style='margin-bottom:.3125rem') rich checkbox buttons
				.div(style='margin-top:.5625rem')
					+rich-checkbox-button({
						title: 'Широкий коридор',
						content: 'Ширина коридоров в номере<br>не менее 91 см.',
						id: 'wide-coridor'})
				.div(style='margin-top:.625rem')
					+rich-checkbox-button({
						title: 'Помощник для инвалидов',
						content: 'На 1 этаже вас встретит специалист<br>и проводит до номера.',
						id: 'invalid-helper' })
			.form-elements__column(style='padding-top: .8125rem')
				h3(style='margin-bottom:.8125rem') bullet list
				+bullet-list([
					'Нельзя с питомцами',
					'Без вечеринок и мероприятий',
					'Время прибытия &mdash; после 13:00,<br>а выезд до 12:00'
				])
		.form-elements(style='margin-top:5.375rem;')
			.form-elements__column
				+room-description([
					{
						image: './img/smily-face.svg',
						title: 'Комфорт',
						content: 'Шумопоглощающие стены',
						bottomLine: 'true'
					},
					{
						image: './img/city-house.svg',
						title: 'Удобство',
						content: 'Окно в каждой из спален',
						bottomLine: 'true'
					}
				])
			.form-elements__column(style='padding-top:9px;')
				+feedback({
					likesQuantity: 12,
					thisUserAlreadyVoted: true,
					userName: 'Мурад Сарафанов',
					daysAgoAdded: 5,
					userComment: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий.<br>И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
				})