include ../../../assets/blocks/text-field/text-field.pug

.wrapper-elements
	p
		label
			input(type='text' id='drink' name='drink' value='Email' class='text-field')
	p
		label
			input(type='text' id='drink' name='drink' value='This is pretty awesome' class='text-field text-field--hover-focus')
	.dropdown 
		p Сколько гостей
	.gull-emblem-cont