include ../../../assets/blocks/text-field/text-field.pug

div(class='wrapper wrapper--elements')
	.gull-emblem-container
		.gull-emblem
	.wrapper__form-elements-content
		label
			input(type='text' id='text-field' name='text-field' value='Email' class='text-field')
		label
			input(type='text' id='text-field-hover' name='text-field-hover' value='This is pretty awesome' class='text-field text-field--hover-focus')
		.dropdown 
			p Сколько гостей
		