.gallery-small__picker-item--filled
	background: white
	
.gallery-small__picker-item
	position: relative
	width: 7px
	height: 7px
	border: 1px solid white
	border-radius: 50%
	
	margin-left: 4.25px

.gallery-small__picker
	position: absolute
	bottom: 16px
	right: 15px
	display: flex