<!DOCTYPE html>

html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		block headOfHTML
	body
		include ../../../assets/blocks/text-field/text-field.pug
		include ../../../assets/blocks/text-field-with-info/text-field-with-info.pug
		include ../../../assets/blocks/elongated-button/elongated-button.pug
		include ../../../assets/blocks/pagination/pagination.pug
		include ../../../assets/blocks/checkbox-radio/checkbox-radio.pug
		include ../../../assets/blocks/datepicker/datepicker.pug
		include ../../../assets/blocks/rich-checkbox-button/rich-checkbox-button.pug
		include ../../../assets/blocks/toxin-logo/toxin-logo.pug
		include ../../../assets/blocks/nav-menu/nav-menu.pug
		include ../../../assets/blocks/header-footer-bar/header-footer-bar.pug
		include ../../../assets/blocks/copyrights/copyrights.pug
		include ../../../assets/blocks/social-web-block/social-web-block.pug
		
		header
			+header-footer-bar-thin({
					loggedIn: false,
					})
			block content
		footer
			+header-footer-bar-wide