mixin rating-area(obj)
	- var iteration_count = 5;
	//- - var checked = '';
	.rating-area
		while iteration_count > 0
			- if(iteration_count == obj.rating)
				input(type='radio' id='star-'+iteration_count+'-'+obj.name name='rating-'+obj.name value=iteration_count
					 checked='checked' disabled) 
			- else
				input(type='radio' id='star-'+iteration_count+'-'+obj.name name='rating-'+obj.name value=iteration_count disabled)
			label(for='star-'+iteration_count+'-'+obj.name title='Оценка «'+iteration_count+'»' )
			- iteration_count--