.user-register__has-account-form
	display: flex
	justify-content: space-between

.user-register__has-account-form span
	margin: auto 0

.user-register__create-account-form
	height: 31.25rem //550px

.user-register__userDataFieldset
	height:	8.25rem //132px

.user-register__userEnterDataFieldset
	height: 9.5rem //152px

.user-register
	height: 40.375rem //646px