mixin social-web-block
	.social-web-block
		.social-web-block__image
			a(href='https://www.twitter.com')
				img(src='./img/social/twitor.svg')
		.social-web-block__image.social-web-block__image--left-right-margin
			a(href='https://www.facebook.com')
				img(src='./img/social/facebook.svg')
		.social-web-block__image
			a(href='https://www.instagram.com')
				img(src='./img/social/insta.svg')