.gallery-small__arrow-wrapper--next
	border-top-right-radius: inherit
	right: 0
	background: linear-gradient(270deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%)
	padding-right: .3125rem //5px
