.checkbox
	position: absolute
	opacity: 0

.checkbox+label
	position: relative
	display: inline-block
	user-select: none
	padding-left: 30px
	line-height: 18px
	color: rgba($all-document-text-color, $dark-shade-half)

.checkbox+label::before,
.checkbox+label::after
	position: absolute
	top: -1px
	left: 0
	content: ''
	width: 20px
	height: 20px
	border: 1px solid rgba($all-document-text-color, $dark-shade-quater)
	border-radius: 4px
	margin-right: 9.5px

.checkbox+label::after
	background: url('@/assets/blocks/checkbox/checkbox.svg') center no-repeat
	border: 1px solid rgba($purple, $dark-shade-total)
	opacity: 0

.checkbox:checked+label::after
	opacity: 100