@import ./_left/datepicker__arrow-container_left
@import ./_right/datepicker__arrow-container_right

.datepicker__arrow-container
	position: absolute
	top: .6875rem //11px
	height: 2.5rem
	width: 2.5rem
