.checkbox-radio--quadratic-with-tick+label::before,
.checkbox-radio--quadratic-with-tick+label::after
	top: -.0625rem //-1px //для соответствия макету
	border-radius: .25rem //4px

.checkbox-radio--quadratic-with-tick+label::after
	background: url('@/assets/blocks/checkbox-radio/_quadratic-with-tick/checkbox-radio_quadratic-with-tick.svg') center no-repeat
	background-size: 50%
	border: .0625rem solid rgba($purple, $dark-shade-total) //1px