@mixin quadratic-with-tick-border-raduis
	border-radius: .25rem //4px

@mixin quadratic-with-tick-the-tick
	background: url('@/assets/blocks/checkbox-radio/checkbox-radio.svg') center no-repeat
	background-size: 50%
	border: .0625rem solid rgba($purple, $dark-shade-total) //1px

