mixin expandable-checkbox-list(obj)
	.expandable-checkbox-list
		.expandable-checkbox-list__title.header3
			+text-field({ 
				field_type: 'dropdown-field',
				placeholder: obj.tfEmptyTitle,
				dropdown_hidden: obj.hidden,
				noBorder: true
				})
		fieldset
			each object in obj.items
				+checkbox-radio({ type:'checkbox', id: object.id, text: object.text, textBrightness: 1})
				br