.expandable-checkbox-list__title
  // margin-bottom: -3px

.expandable-checkbox-list__title .field-template
  padding-left: 0

.expandable-checkbox-list__fieldset
  // position: absolute
  // top: 2.6875rem //43px
  // left: 0
  margin: 0
  padding: 0
  border: none

.expandable-checkbox-list__fieldset--hidden
  display: none

.expandable-checkbox-list__checkbox-container
  margin-bottom: .40625rem //6.5px

.expandable-checkbox-list
  position: relative