.like-button__heart-icon
  display: block
  position: absolute
  top: -.0625rem //-1px
  left: -.0625rem //-1px
  width: 1.25rem //20px
  height: 1.25rem //20px
  background: url('@/assets/blocks/like-button/__heart-icon/heart-empty.svg') center no-repeat
  opacity: $dark-shade-quater

.like-button-input:checked+label .like-button__heart-icon
  background: url('@/assets/blocks/like-button/__heart-icon/heart-filled.svg') center no-repeat
  opacity: $dark-shade-total