$shadow: rgba($all-document-text-color, $dark-shade-almost-total)

@import ./_hovered/nav-menu__item_hovered
@import ./_not-hovered/nav-menu__item_not-hovered
@import ./_right-margin/nav-menu__item_right-margin
@import ./_top-margin/nav-menu__item_top-margin

.nav-menu__item
	color: rgba($all-document-text-color, 0.5)
	display: inline-block
	min-width: 20px

	
.nav-menu__item > a
	display: inline-block
	width: 100%
