$shadow: rgba($all-document-text-color, $dark-shade-almost-total)

@import ./_hovered/nav-menu__item_hovered
@import ./_not-hovered/nav-menu__item_not-hovered
@import ./_right-margin/nav-menu__item_right-margin
@import ./_top-margin/nav-menu__item_top-margin

.nav-menu__item
	color: rgba($all-document-text-color, 0.5)
	display: inline-block
	min-width: 1.25rem //20px

.nav-menu__item > a
	display: inline-block
	width: 100%

.nav-menu__item:focus,
.nav-menu__item > a:focus
	border: 1px solid #000

@media screen and (max-width:$rollup-menu)
	.nav-menu__item
		line-height: 2