.header-footer-bar__menu-block
	align-self: center

@media screen and (max-width:$laptop-max)
	.header-footer-bar__menu-block
		width: 50%
		display: flex
		justify-content: space-between

@media screen and (max-width:$tablet-max)
	.header-footer-bar__menu-block
		width: 99%
	