@import ./__icon/feedback__icon
@import ./__name-when/feedback__name-when
@import ./__content/feedback__content
@import ./__like/feedback__like
	
.feedback
	width: 44.5rem //712px
	display: grid
	grid-template: 3.0625rem auto / 3rem auto
	gap: .625rem //10px

@media screen and (max-width:$desktop-max)
	.feedback
		width: 100%

@media screen and (max-width:$mobile-max)
	.feedback
		gap: .2rem
		grid-template: "name name" "icon likes" "feedback feedback"