.feedback__name-when--name
	font-weight: 700

.feedback
	width: 712px
	display: grid
	grid-template: 49px auto / 48px auto
	gap: 10px

.feedback__name-when
	// margin-top: 1px
	align-self: center

.feedback__name-when, .feedback__content
	color: rgba($all-document-text-color, $dark-shade-almost-total)

.feedback__like
	justify-self: center
	margin-top: 2px