@import ./_quadratic-with-tick/checkbox-radio_quadratic-with-tick
@import ./_round-with-circle/checkbox-radio_round-with-circle
	
.checkbox-radio
	position: absolute
	opacity: 0

.checkbox-radio+label
	position: relative
	display: inline-block
	user-select: none
	padding-left: 1.875rem //30px
	line-height: 1.125rem //18px
	color: rgba($all-document-text-color, $dark-shade-half)

.checkbox-radio+label::before,
.checkbox-radio+label::after
	position: absolute
	top: -.0625rem //-1px //для соответствия макету
	left: 0
	content: ''
	width: 1.25rem //20px
	height: 1.25rem //20px
	border: .0625rem solid rgba($all-document-text-color, $dark-shade-quater) //1px
	margin-right: .59375rem //9.5px

.checkbox-radio+label::after
	opacity: 0

.checkbox-radio:checked+label::after
	opacity: 100

.checkbox+label::before,
.checkbox+label::after
	@include quadratic-with-tick-border-raduis

.radio-button+label::after,
.radio-button+label::before
	@include round-with-circle-border-raduis
	
.checkbox+label::after
	@include quadratic-with-tick-the-tick

.radio-button+label::after
	@include round-with-circle-the-inner-circle

.radio-button:checked+label::before
	@include round-with-circle-checked-outer-circle

.radio-button:checked+label
	@include round-with-circle-checked-text