.checkbox-radio
	position: absolute
	opacity: 0

.checkbox-radio+label
	position: relative
	display: inline-block
	user-select: none
	padding-left: 1.875rem //30px
	line-height: 1.125rem //18px
	color: rgba($all-document-text-color, $dark-shade-half)

.checkbox-radio+label::before,
.checkbox-radio+label::after
	position: absolute
	top: 0
	left: 0
	content: ''
	width: 1.25rem //20px
	height: 1.25rem //20px
	border: .0625rem solid rgba($all-document-text-color, $dark-shade-quater) //1px
	margin-right: .59375rem //9.5px

.checkbox-radio+label::after
	opacity: 0

.checkbox-radio:checked+label::after
	opacity: 100

@import ./_quadratic-with-tick/checkbox-radio_quadratic-with-tick
@import ./_round-with-circle/checkbox-radio_round-with-circle
@import ./_elongated-with-circle/checkbox-radio_elongated-with-circle