@import ./_margin-right/room-number-and-price__right_margin-right
@import ./_margin-bottom/room-number-and-price__right_margin-bottom

.room-number-and-price__right
	align-self: flex-end
	text-align: right
	color: rgba($all-document-text-color, .5)

.room-number-and-price__right span:first-child
	font-weight: bold

@media screen and (max-width:$mobile-max)
	.room-number-and-price__right
		align-self: center
		text-align: center