.room-number-and-price__right
	align-self: flex-end
	text-align: right
	margin-bottom: -.125rem //-2px
	color: rgba($all-document-text-color, .5)

.room-number-and-price__right span:first-child
	font-weight: bold

.room-number-and-price__right span:last-child
	font-size: .75rem
