@import ./__field/datepicker__field
@import ./__arrow-container/__arrow-container
@import ./__calendar-wrapper/datepicker__calendar-wrapper
@import ./__calendar-conatiner/datepicker__calendar-conatiner

$boxShadowDatepicker : 0 .625rem 1.25rem rgba($all-document-text-color, .05) //0 10 20

.drp_top-bar
	display: none	
	
.datepicker
	display: flex
	justify-content: space-between
	position: relative

@media screen and (max-width:$mobile-max)
	.datepicker	
		justify-content: flex-start
		flex-direction: column

.date-picker-wrapper
	border: .0625rem solid rgba($all-document-text-color, .25)
	border-radius: $borderRadius //4px
	background-color: #fff
	font-family: Montserrat
	font-size: 0.75rem
	padding: 0
	z-index: 15
	// width: 320px
	// margin-left: -13px
	// margin-top: 5px

.date-picker-wrapper,
.date-picker-wrapper.inline-wrapper
	box-shadow: $boxShadowDatepicker

.date-picker-wrapper 
	.footer
		width: 100%
		display: flex
		justify-content: space-between
		padding: .75rem 1.0625rem 0 1.1875rem //12 17 0 19

	.month-name
			text-transform: none	
	
	.month-element:first-letter
		text-transform: uppercase

	.month-wrapper table
		width: 100%
		border: none

	.month-wrapper
		border: none
		padding: .6875rem 1.1875rem 0 1.3125rem //11 19 0 21

	table .caption
		height: 2.5rem

.date-picker-wrapper table .caption .next, .date-picker-wrapper table .caption .prev
	padding: 0

.date-picker-wrapper .month-wrapper table .week-name
	text-transform: none
	color: $purple

.date-picker-wrapper .month-wrapper table .week-name th:first-letter
	text-transform: uppercase
	
.date-picker-wrapper .month-wrapper table .week-name th
	padding-top: 2.1875rem //35px
	padding-bottom: .875rem //14px

.date-picker-wrapper .month-wrapper table th, .date-picker-wrapper .month-wrapper table td
	height: 2.5rem //40px
	width: 2.5rem //40px

.date-picker-wrapper table .caption > th:first-of-type, .date-picker-wrapper table .caption > th:last-of-type
	width: 2.5rem //40px

.date-picker-wrapper.no-topbar
	padding: 0

.month-name
	font-size: 1.1875rem //19px
	color: $all-document-text-color

.date-picker-wrapper .month-wrapper table .day.nextMonth, .date-picker-wrapper .month-wrapper table .day.lastMonth
	display: block

.date-picker-wrapper .month-wrapper table .day
	width: 100%
	height: 100%
	padding: 0
	padding-top: calc(50% - .45rem)
	font-size: .75rem

.date-picker-wrapper .month-wrapper table div.day.lastMonth, .date-picker-wrapper .month-wrapper table div.day.nextMonth
	color: rgba($all-document-text-color, .25)

.date-picker-wrapper .month-wrapper table .day.toMonth.valid
	color: rgba($all-document-text-color, .5)

.date-picker-wrapper .month-wrapper table .day.toMonth.valid.elongated-button__text--white,
.date-picker-wrapper .month-wrapper table .day.toMonth.valid:hover
	background: $elongated-button-background-gradient
	color: white
	
.date-picker-wrapper .month-wrapper table .day.toMonth.valid:not(.checked):hover
	border-radius: $elongated-button-border-radius
	

.date-picker-wrapper .month-wrapper table .day.checked,
.date-picker-wrapper .month-wrapper table .day.toMonth.hovering,
.date-picker-wrapper .month-wrapper table .day.real-today.checked, 
.date-picker-wrapper .month-wrapper table .day.real-today.hovering
	background: linear-gradient(180deg, rgba($purple, .25) 0%, rgba(#8BA4F9, .25) 100%)

.date-picker-wrapper .first-date-selected, .date-picker-wrapper .last-date-selected
	position: relative
	border: none
	border-radius: 1.375rem
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%) !important
	color: white !important
	font-weight: 700

.date-picker-wrapper .first-date-selected:before,
.date-picker-wrapper .last-date-selected:before
	position: absolute
	width: 100%
	height: 100%
	content: ''
	top: 0
	left: 0
	background: linear-gradient(180deg, rgba($purple, .25) 0%, rgba(#8BA4F9, .25) 100%)

.date-picker-wrapper .first-date-selected:before
	border-radius: 1.375rem 0 0 1.375rem //22px

.date-picker-wrapper .last-date-selected:before
	border-radius: 0 1.375rem 1.375rem 0

.date-picker-wrapper .month-wrapper table .day.real-today
	background-color: #fff	