$borderRadius: .25rem //4px

.border-corners--all,
.border-corners--top,
.border-corners--top-left
  border-top-left-radius: $borderRadius

.border-corners--all,
.border-corners--top,
.border-corners--top-right
  border-top-right-radius: $borderRadius

.border-corners--all,
.border-corners--bottom,
.border-corners--lower-right
  border-bottom-left-radius: $borderRadius

.border-corners--all,
.border-corners--bottom,
.border-corners--lower-left
  border-bottom-right-radius: $borderRadius