//- Удалить инклюды
include ../../assets/blocks/text-field/text-field.pug
include ../../assets/blocks/text-field-with-info/text-field-with-info.pug
include ../../assets/blocks/datepicker/datepicker.pug
include ../../assets/blocks/checkbox-radio/checkbox-radio.pug
include ../../assets/blocks/gender-select-radio/gender-select-radio.pug
include ../../assets/blocks/like-button/like-button.pug
include ../../assets/blocks/rating-area/rating-area.pug
include ../../assets/blocks/range-slider/range-slider.pug
include ../../assets/blocks/elongated-button/elongated-button.pug
include ../../assets/blocks/pagination/pagination.pug
include ../../assets/blocks/incdec-field/incdec-field.pug
include ../../assets/blocks/dropdown/dropdown.pug
include ../../assets/blocks/expandable-checkbox-list/expandable-checkbox-list.pug
include ../../assets/blocks/rich-checkbox-button/rich-checkbox-button.pug
include ../../assets/blocks/bullet-list/bullet-list.pug
include ../../assets/blocks/room-description/room-description.pug
include ../../assets/blocks/feedback/feedback.pug

<!DOCTYPE html>

html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title UI Kit
	body
		include ./color-block/index.pug
		include ./form-elements/index.pug
		include ./cards/index.pug
		include ./footers/index.pug