.search-room__pagination
  margin: 0 auto
  padding-right: .6875rem //11px
  display: flex
  flex-direction: column
  justify-content: flex-end
  height: 5rem //80px

@media screen and (max-width:$desktop-max)
  .search-room__pagination
    margin-top: 1rem
    height: auto

  
@media screen and (max-width:$laptop-max)
  .search-room__pagination
    padding: 0