include ../../../assets/blocks/text-field/text-field.pug
include ../../../assets/blocks/text-field-with-info/text-field-with-info.pug
include ../../../assets/blocks/datepicker/datepicker.pug
include ../../../assets/blocks/checkbox-radio/checkbox-radio.pug
include ../../../assets/blocks/gender-select-radio/gender-select-radio.pug
include ../../../assets/blocks/like-button/like-button.pug
include ../../../assets/blocks/rating-area/rating-area.pug
include ../../../assets/blocks/range-slider/range-slider.pug
include ../../../assets/blocks/elongated-button/elongated-button.pug
include ../../../assets/blocks/pagination/pagination.pug
include ../../../assets/blocks/incdec-field/incdec-field.pug
include ../../../assets/blocks/dropdown/dropdown.pug
include ../../../assets/blocks/expandable-checkbox-list/expandable-checkbox-list.pug
include ../../../assets/blocks/rich-checkbox-button/rich-checkbox-button.pug
include ../../../assets/blocks/bullet-list/bullet-list.pug
include ../../../assets/blocks/room-description/room-description.pug
include ../../../assets/blocks/feedback/feedback.pug
include ../../../assets/blocks/toxin-logo/toxin-logo.pug
include ../../../assets/blocks/nav-menu/nav-menu.pug
include ../../../assets/blocks/header-footer-bar/header-footer-bar.pug
include ../../../assets/blocks/copyrights/copyrights.pug
include ../../../assets/blocks/social-web-block/social-web-block.pug
include ../../../assets/blocks/room-search/room-search.pug
include ../../../assets/blocks/diagram/diagram.pug

header
	+header-footer-bar-thin({
		loggedIn: false,
	})
	.room-detail
		.room-detail__feedback
			.room-detail__text.header1 Впечатления от номера
			.room-detail__diagram
				+diagram({ great: 130, good: 65, soso: 65, disgusting: 0})
footer
	+header-footer-bar-wide

//- Убрать лишние инклюды и импорты