@import @/styles/styles.sass

@import @/assets/blocks/gull-emblem/gull.sass
@import @/assets/blocks/arrow/arrow
@import @/assets/blocks/arrow-triangle/arrow-triangle
@import @/assets/blocks/cards-styles/cards-styles
@import @/assets/blocks/elongated-button/elongated-button
@import @/assets/blocks/border-corners/border-corners
@import @/assets/blocks/toxin-logo/toxin-logo
@import @/assets/blocks/nav-menu/nav-menu
@import @/assets/blocks/header-footer-bar/header-footer-bar
@import @/assets/blocks/text-field/text-field
@import @/assets/blocks/text-field-with-info/text-field-with-info
@import @/assets/blocks/like-button/like-button
@import @/assets/blocks/copyrights/copyrights.sass
@import @/assets/blocks/social-web-block/social-web-block.sass
@import @/assets/blocks/incdec-field/incdec-field
@import @/assets/blocks/datepicker/datepicker
@import @/assets/blocks/dropdown/dropdown
@import @/assets/blocks/bullet-list/bullet-list
// @import @/assets/blocks/room-search/room-search
@import @/assets/blocks/uikit-cards/uikit-cards.sass
@import @/assets/blocks/room-description/room-description
@import @/assets/blocks/horizontal-line/horizontal-line
@import @/assets/blocks/feedback/feedback
@import @/assets/blocks/room-number-and-price/room-number-and-price.sass
// @import @/assets/blocks/counter-account-block/counter-account-block.sass
// @import @/assets/blocks/user-register/user-register.sass
@import @/assets/blocks/info-marker/info-marker.sass
@import @/assets/blocks/room-booking/room-booking.sass
// @import @/assets/blocks/login-form/login-form.sass
// @import @/assets/blocks/gallery-room-small/gallery-room-small.sass
// @import @/assets/blocks/room-small-info/room-small-info.sass
@import @/assets/blocks/diagram/diagram.sass

.room-detail-gallery__main-image
	grid-area: main

.room-detail-gallery__top-image
	grid-area: secondary

.room-detail-gallery__low-image
	grid-area: third
	
.room-detail-gallery--image-fit
	object-fit: cover
	height: 100%
	width: 100%
	
.room-detail-gallery
	width: 100%
	display: grid
	grid-template: "main secondary" 15.125rem "main third" 15.125rem / 68% 32% // 980px 460px //мне кажется, что лучше сделать 2fr 1fr

@media screen and (max-width:$laptop-max)
	.room-detail-gallery
		grid-template: "main main" 15rem "secondary third" 10rem / 1fr 1fr

.room-detail__about
	grid-area: about

.room-detail__diagram
	width: 19.5rem //312px
	height: 7.75rem //124px

@media screen and (max-width:$tablet-max)
	.room-detail__diagram
		width: 99%
		height: 20vw

.room-detail__diagram-block
	grid-area: diagram

@media screen and (max-width:$laptop-max)
	.room-detail__diagram-block
		margin: 0 auto
	// padding-right: .5rem //8px
	// justify-self: center

@media screen and (max-width:$tablet-max)
	.room-detail__diagram-block
		margin: 0

.room-detail__book
	grid-area: book

@media screen and (max-width:$laptop-max)
	.room-detail__book
		margin: 0 auto

.feedback-shorthand__wrapper
	margin-bottom: 1.375rem //22px
	margin-left: -.0625rem //-1px
	
.room-detail__feedback-wrapper
	grid-area: mainText
	
.room-detail__feedback
	grid-area: feedback
	display: grid
	grid-template: "title subtitle" "mainText mainText" / 83% 17%

@media screen and (max-width:$tablet-max)
	.room-detail__feedback
		display: flex
		flex-direction: column
	
.room-detail__rules-list
	margin-left: -.0625rem //-1px
	
.room-detail__rules
	grid-area: rules
	width: 16.25rem //260px

@media screen and (max-width:$laptop-max)
	.room-detail__rules
		justify-self: center
		
@media screen and (max-width:$desktop-max)
	.room-detail__rules
		width: 90%

.room-detail__cancel-and-rules-content-margin-top
	margin-top: -.3125rem //-5px
	
.room-detail__cancel-content
	width: 80%

@media screen and (max-width:$laptop-max)
	.room-detail__cancel-content
		width: 100%

.room-detail__cancel
	grid-area: cancel

.room-detail__subtitle
	grid-area: subtitle
	color: rgba($all-document-text-color, $dark-shade-half)
	padding-top: .125rem //2px
	justify-self: start
	
.room-detail__text--left-padding
	padding-left: 1.1875rem //19px

.room-detail__text
	grid-area: title
	margin-bottom: 1.25rem //20px

.room-detail__free-space
	grid-area: freeSpace
	height: 3.0625rem //49px

@media screen and (max-width:$laptop-max)
	.room-detail__free-space
		height: 1rem

.room-detail__main
	width: 100%
	border-bottom: 1px solid rgba($all-document-text-color, $dark-shade-quater)
	display: grid
	grid-template: "about diagram book" "feedback feedback book" "rules cancel empty" "freeSpace freeSpace freeSpace" / 31.034% 36.206% auto//360px 420px auto
	grid-row-gap: .8125rem //13px
	margin-top: 4.375rem //70px

@media screen and (max-width:$desktop-max)
	.room-detail__main
		grid-template: "about diagram" "book feedback" "rules cancel" / 1fr 1fr
		justify-content: center
		// grid-template: "about diagram book" "feedback feedback book" "rules cancel empty" "freeSpace freeSpace freeSpace" / 31.034% 36.206% auto//360px 420px auto
		gap: .5rem
		margin-top: 1rem

@media screen and (max-width:$laptop-max)
	.room-detail__main
		grid-template: "about about" "diagram diagram" "book book" "feedback feedback" "rules cancel" / 1fr 1fr
		gap: 1rem 0

@media screen and (max-width:$tablet-max)
	.room-detail__main
		display: flex
		flex-direction: column