mixin gender-select-radio
  fieldset.gender-select-radio
    +checkbox-radio({type:'radio', id:'male', name:'gender', text:'Мужчина', value: 'male', checked:true})
    +checkbox-radio({type:'radio', id:'female', name:'gender', text:'Женщина', value: 'female'})