h1
	a(href='./searchroomstart.html') Search room page blank
	br
	hr
	a(href='./searchroomrooms.html') Search room page dropdown expanded
	br
	hr
	a(href='./searchroomextras.html') Extras dropdown opened