extends ./search-room-templ.pug
block content
	.search-room__main-container.wrapper-paddings
		.search-room__filter-container
		
		.search-room__catalog-container
			h1 Номера, которые мы для вас подобрали
