@import ./_to-bottom/arrow-triangle_to-bottom
@import ./_to-left/arrow-triangle_to-left
@import ./_to-right/arrow-triangle_to-right
@import ./_to-top/arrow-triangle_to-top

.arrow-triangle
	width: .1875rem //3px
	height: .1875rem //3px
	border: solid
	border-width: 0 2px 2px 0
	padding: .1875rem //3px