.diagram__legend-list-marker
	position: absolute
	top: .4375rem //7px
	left: -.9375rem //-15px
	content: ''
	width: .625rem //10px
	height: .625rem //10px
	border-radius: 50%

@media screen and (max-width:$tablet-max)
	.diagram__legend-list-marker
		top: 0