.room-booking__summary
	display: flex
	justify-content: space-between
	width: calc(100% + .625rem) //to fit the template
	letter-spacing: .00625rem //.1px

@media screen and (max-width:$tablet-max)
	.room-booking__summary
		width: 100%
	