$txt-field-height: 2.6875rem //43px

//Стоковое состояние блока
.field-template
	// width: 20rem //320px
	width: 100%
	height: $txt-field-height
	padding-left: 13px //.875rem //14px
	line-height: $txt-field-height - .1rem
	letter-spacing: -.15px
	position: relative
	overflow: hidden
	display: inline-block

.field-template__input-field
	width: 85%
	height: 100%
	margin-left: -2px
	background: none

.field-template--no-select
	user-select: none

.field-template--quater-color	
	color: rgba($all-document-text-color, $dark-shade-almost-total)
	
.field-template--full-color
	color: rgba($all-document-text-color, $dark-shade-total)
