@mixin text-field
	width: 320px
	height: 44px
	border: 1px solid $all-document-text-color
	border-radius: 4px
	opacity: $dark-shade-quater
	padding-left: 15px

@mixin text-field--hover-focus
	outline: 0
	outline-offset: 0
	opacity: $dark-shade-half