@import ./field-template
@import ./_border-not-hovered/field-template_border-not-hovered
@import ./_border-hovered/field-template_border-hovered
@import ./_letter-spacing-zero/field-template_letter-spacing-zero
@import ./_size-middle/field-template_size-middle
@import ./_size-small/field-template_size-small
@import ./__icon-field/field-template__icon-field
@import ./__arrow-css/field-template__arrow-css
@import ./__gradient-arrow/field-template__gradient-arrow

::-webkit-input-placeholder 
	color: rgba($all-document-text-color, $dark-shade-quater)
::-moz-placeholder          
	color: rgba($all-document-text-color, $dark-shade-quater)
:-moz-placeholder           
	color: rgba($all-document-text-color, $dark-shade-quater)
:-ms-input-placeholder      
	color: rgba($all-document-text-color, $dark-shade-quater)
