@import ./_hidden/nav-menu__submenu_hidden
@import ./_visible/nav-menu__submenu_visible
	
.nav-menu__submenu
	position: absolute
	padding: .3125rem //5px
	margin-left: -.3125rem //-5px
	width: fit-content
	list-style-type: none
	display: flex
	flex-direction: column
	background: #f9f9f9
