.additional-info-block
	// height: 4.0625rem//65px
	display: grid
	
.additional-info-block__title
	grid-column: 1
	grid-row: 1

.additional-info-block__title--padding-top
	padding-top: 3px//.21875rem //3.5px

.additional-info-block__status
	grid-column: 2
	grid-row: 1
	display: flex
	justify-content: flex-end

.additional-info-block__status-text
	text-align: right
	font-weight: 400
	color: rgba($all-document-text-color, $dark-shade-half)

.additional-info-block__status-text--compact
	letter-spacing: -.2px

.additional-info-block__visualisation
	grid-column: span 2
	grid-row: 2
	display: flex
	align-items: center