mixin dropdown(obj)
	div(id=obj.dropdownName class='dropdown')
		+text-field-with-info({tfCorners: 'top', tfType: 'dropdown-field', dropdown_hidden: 'true', 
			title: obj.tfTitle, aditional: obj.tfAdditional, tfHovered: true})
		if obj.expanded
			div(class='field-template--border-hovered bropdown__expanded border-corners--bottom')
				each object in obj.items
					+incdecField(object, obj.dropdownName)
	