@import ./__expanded/dropdown__expanded
@import ./__clear-submit/dropdown__clear-submit

.dropdown
  position: relative
  width: 100%

.dropdown fieldset
  margin: 0
  padding-left: 0
  padding-right: 0