@import ./__expanded/dropdown__expanded
@import ./__clear-submit/dropdown__clear-submit

.dropdown
  position: relative
  width: 100%

.dropdown fieldset
  padding-left: .875rem //14px//.8125rem //13px
  padding-right: .3125rem //5px//.4375rem //7px

@media screen and (max-width:$mobile-max)
  .dropdown fieldset
    padding-left: 3vw //14px//.8125rem //13px
    padding-right: 3vw //5px//.4375rem //7px