@import ./__expanded/dropdown__expanded
@import ./__clear-submit/dropdown__clear-submit

.dropdown
  position: relative
  width: 100%

.dropdown fieldset
  margin: 0
  padding-left: .875rem //14px//.8125rem //13px
  padding-right: .3125rem //5px//.4375rem //7px
  // padding-bottom: .4375rem //7px
