mixin dropdown(obj)
	- 
		var dropdownClass = 'field-template--border-hovered dropdown__expanded border-corners--bottom'
		var isExpanded = obj.expanded
	div(id=obj.dropdownName class='dropdown')
		+text-field-with-info({tfCorners: 'top', tfType: 'dropdown-field', tfDropdownHidden: 'true', 
			title: obj.tfTitle, aditional: obj.tfAdditional, tfHovered: isExpanded, tfPlaceholder: obj.tfEmptyTitle, tfName: obj.dropdownName+'Text'})
		if !isExpanded
			- dropdownClass += ' dropdown__expanded--false'
		fieldset(class=dropdownClass)
			each object in obj.items
				+incdecField(object, obj.dropdownName)
			if obj.hasButtonsBelow
				//- Кнопки пишу в обратном порядке, т.к. контейнер - флекс с обратным порядком. Это сделано для более простой манипуляцией с 
					кнопкой ОЧИСТИТЬ - просто через джейквери меняю ее видимость
				.dropdown__clear-submit
					input(type='submit' class='elongated-button elongated-button--no-border header3 elongated-button__text elongated-button__text--purple' 
						value='применить')
					input(type='reset' class='elongated-button elongated-button--no-border header3 elongated-button__text elongated-button__text--purple' 
						value='очистить')