mixin dropdown(obj)
	- 
		var dropdownClass = 'field-template--border-hovered dropdown__expanded border-corners--bottom'
		var isExpanded = obj.expanded
	div(id=obj.dropdownName class='dropdown')
		+text-field-with-info({tfCorners: 'top', tfType: 'dropdown-field', tfDropdownHidden: 'true', 
			title: obj.tfTitle, aditional: obj.tfAdditional, tfHovered: isExpanded, tfPlaceholder: obj.tfEmptyTitle})
		if !isExpanded
			- dropdownClass += ' dropdown__expanded--false'
			//- div(class='field-template--border-hovered dropdown__expanded border-corners--bottom')
		//- else
			div(class='field-template--border-hovered dropdown__expanded dropdown__expanded--false border-corners--bottom')
		div(class=dropdownClass)
			each object in obj.items
				+incdecField(object, obj.dropdownName)
	