@import ./__button-block/header-footer-bar__button-block
@import ./__menu-block/header-footer-bar__menu-block
@import ./__vertical-line/header-footer-bar__vertical-line
@import ./__paragraph/header-footer-bar__paragraph
@import ./_padding-top/header-footer-bar_padding-top
@import ./_thin/header-footer-bar_thin
@import ./_wide/header-footer-bar_wide
@import ./__bottom-block/header-footer-bar__bottom-block
@import ./_vertical-center/header-footer-bar_vertical-center
@import ./_top-border/header-footer-bar_top-border

@media screen and (max-width:$desktop-max)
	.header-footer-bar
		padding-left: 8vw //10.6vw
		padding-right: 8vw //10.6vw

@media screen and (min-width:$desktop-max)
	.header-footer-bar
		padding-left: 8.75rem //140px
		padding-right: 8.75rem //140px

.header-footer-bar
	width: 100%
	color: rgba($all-document-text-color, $dark-shade-half)
	// box-shadow: 0 .625rem 1.25rem rgba($all-document-text-color, .05) //0px 10px 20px
	display: flex
	justify-content: space-between