//Правый элемент блока для размещения стрелок. Высота и ширина рассчитана исходя из толщины обводки соновного поля
.field-template__icon-field
	position: absolute
	right: 0
	top: 0
	width: $txt-field-height - .125rem //2px 
	height: $txt-field-height - .25rem //4px
	display: flex
	justify-content: center
	align-items: center
	cursor: pointer