.header-footer-bar__vertical-line
	width: 1px
	height: 1.875rem //30px
	margin-right: 1.25rem
	background: rgba($all-document-text-color, .1)
	display: inline-block
	vertical-align: middle

@media screen and (max-width:$laptop-max)
	.header-footer-bar__vertical-line
		display: none