.incdecField__input-button
	width: 1.875rem //30px
	height: 1.875rem //30px
	background: none
	border: .0625rem  solid #000
	border-radius: 50%
	font-size: 1.125rem //18px
	cursor: pointer
	opacity: $dark-shade-half

@media screen and (max-width:$mobile-max)
	.incdecField__input-button
		padding: 0

.incdecField__input-button:disabled
	color: inherit
	opacity: $dark-shade-quater