
.room-booking__table
	white-space: nowrap
	width: 100%

.room-booking__table tfoot td:first-child
	width: 10%

.room-booking__table td:last-child
	width: 5%
	text-align: right

.room-booking__cell-with-dots
	width: 85%

.room-booking__div-for-cell-with-dots
	margin-bottom: 5px
	border-bottom: .0625rem dotted rgba($all-document-text-color, .25) //dashed



.room-booking__title
	display: flex
	justify-content: space-between

.room-booking__title--price
	
	
	
	
	
	
	
.room-booking
	height: 32rem //512px по шаблону 511