mixin navigation-bar( loggedIn )
  .card-styles--white-background.navigation-bar
    //- +toxin-logo
    +nav-menu([{
      title: 'О нас',
      isDropdown: false,
      hovered: true,
    },{
      title: 'Услуги',
      isDropdown: true,
      subTitles: ['Услуга раз', 'Услуга два', 'Услуга три', 'Услуга жопу подотри'],
    },{
      title: 'Вакансии',
      isDropdown: false,
    },{
      title: 'Новости',
      isDropdown: false,
    },{
      title: 'Соглашения',
      isDropdown: true,
      subTitles: ['Соглашения раз', 'Соглашения два', 'Соглашения три', 'Соглашения жопу подотри'],
    }])