@import ./__button-block/navigation-bar__button-block
@import ./__entire-block/navigation-bar__entire-block
@import ./__menu-block/navigation-bar__menu-block
@import ./__vertical-line/navigation-bar__vertical-line

// .navigation-bar__header-text	
	
.navigation-bar__bottom-block--wide-block
	width: 260px
	color: rgba($all-document-text-color, $dark-shade-almost-total)
	
.navigation-bar__bottom-block
	
.navigation-bar--padding-top
	padding-top: 100px
	
.navigation-bar--thin
	height: 4.375rem //70px

.navigation-bar--wide
	height: 372px
	
.navigation-bar
	width: 100%
	color: rgba($all-document-text-color, $dark-shade-half)
	box-shadow: 0 .625rem 1.25rem rgba($all-document-text-color, .05) //0px 10px 20px
	padding-left: 8.75rem //140px
	padding-right: 8.75rem //140px
	display: flex
	justify-content: space-between
	align-content: center
