mixin navigation-bar-thin( object )
	nav.card-styles--white-background.navigation-bar.navigation-bar--thin
			.navigation-bar__entire-block
				+toxin-logo
			.navigation-bar__menu-block
				+nav-menu-top([{
					title: 'О нас',
					hovered: true,
				},{
					title: 'Услуги',
					subTitles: ['Услуга раз', 'Услуга два', 'Услуга три', 'Услуга жопу подотри'],
				},{
					title: 'Вакансии',
				},{
					title: 'Новости',
				},{
					title: 'Соглашения',
					subTitles: ['Соглашения раз', 'Соглашения два', 'Соглашения три', 'Соглашения жопу подотри'],
				}])
				if !object.loggedIn
					.navigation-bar__button-block
						+elongated-button({sizeWidth: '5.4375rem', sizeHeight: '2.125rem', text: 'войти', buttonType: 'empty'})
					//- .navigation-bar__button-block
					+elongated-button({sizeWidth: '12.25rem', sizeHeight: '2.125rem', text: 'зарегистрироваться', buttonType: 'filled'})
				else
					.navigation-bar__vertical-line
					a.navigation-bar__user-name(href='#')= object.userName

mixin navigation-bar-wide( object )
	nav.card-styles--white-background.navigation-bar.navigation-bar--wide.navigation-bar--padding-top
		.navigation-bar__bottom-block.navigation-bar__bottom-block--wide-block
			+toxin-logo
			p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»

		.navigation-bar__bottom-block
			+nav-menu-footer([
				{
					title: 'навигация',
					items: ['О нас','Новости','Служба поддержки','Услуги']
				},
			])

		.navigation-bar__bottom-block.navigation-bar__bottom-block--wide-block
			p.header3 Подписка
			p Получайте специальные предложения и новости сервиса
			+text-field({
				field_type: 'subscribe-field',
				placeholder: 'Email',
				})
	.card-styles--white-background.navigation-bar.navigation-bar--thin
		.navigation-bar__entire-block
			+copyrights