mixin navigation-bar()
  .card-styles--white-background.navigation-bar
    //- +toxin-logo
    +nav-menu([{
      title: 'О нас',
      isDropdown: false,
      hovered: true,
    },{
      title: 'Услуги',
      isDropdown: true,
    },{
      title: 'Вакансии',
      isDropdown: false,
    },{
      title: 'Новости',
      isDropdown: false,
    },{
      title: 'Соглашения',
      isDropdown: true,
    }])