mixin navigation-bar( loggedIn )
	nav.card-styles--white-background.navigation-bar
		//- +toxin-logo
		.navigation-bar__menu-block
			+nav-menu([{
				title: 'О нас',
				isDropdown: false,
				hovered: true,
			},{
				title: 'Услуги',
				isDropdown: true,
				subTitles: ['Услуга раз', 'Услуга два', 'Услуга три', 'Услуга жопу подотри'],
			},{
				title: 'Вакансии',
				isDropdown: false,
			},{
				title: 'Новости',
				isDropdown: false,
			},{
				title: 'Соглашения',
				isDropdown: true,
				subTitles: ['Соглашения раз', 'Соглашения два', 'Соглашения три', 'Соглашения жопу подотри'],
			}])
			if !loggedIn
				.navigation-bar__button-block
					+elongated-button({sizeWidth: '5.4375rem', sizeHeight: '2.125rem', text: 'войти', buttonType: 'empty'})
				.navigation-bar__button-block
					+elongated-button({sizeWidth: '12.25rem', sizeHeight: '2.125rem', text: 'зарегистрироваться', buttonType: 'filled'})
			else
				.navigation-bar__vertical-line
				.navigation-bar__user-name Юлий Цезарь