@import ./__button-block/navigation-bar__button-block
@import ./__menu-block/navigation-bar__menu-block
@import ./__vertical-line/navigation-bar__vertical-line
@import ./__paragraph/navigation-bar__paragraph
@import ./_padding-top/navigation-bar_padding-top
@import ./_thin/navigation-bar_thin
@import ./_wide/navigation-bar_wide
@import ./__bottom-block/navigation-bar__bottom-block
@import ./_vertical-center/navigation-bar_vertical-center
@import ./_top-border/navigation-bar_top-border

.navigation-bar
	width: 100%
	color: rgba($all-document-text-color, $dark-shade-half)
	box-shadow: 0 .625rem 1.25rem rgba($all-document-text-color, .05) //0px 10px 20px
	padding-left: 8.75rem //140px
	padding-right: 8.75rem //140px
	display: flex
	justify-content: space-between
	
