.nav-menu--inline-burger
	display: inline-block
	vertical-align: middle

@media screen and (max-width:$tablet-max)
	.nav-menu--inline-burger
		width: 3.125rem //50px
		height: 3.125rem //50px
		background: url(@/assets/blocks/nav-menu/burger.svg) center no-repeat
		background-size: cover
