.nav-menu--inline-burger
	display: inline-block
	vertical-align: middle

@media screen and (max-width:$rollup-menu)
	.nav-menu--inline-burger
		width: 1.5em //
		height: 1.5em //
		align-self: center
		background: url(@/assets/blocks/nav-menu/burger.svg) center no-repeat
		background-size: cover