.nav-menu--inline-burger
	display: inline-block
	vertical-align: middle

@media screen and (max-width:$rollup-menu)
	.nav-menu--inline-burger
		width: 2.5em //
		height: 2.5em //
		background: url(@/assets/blocks/nav-menu/burger.svg) center no-repeat
		background-size: cover