//взято из https://m.habr.com/ru/post/310186/	
@function strip-unit($number)
	@if type-of($number) == 'number' and not unitless($number)
		@return $number / ($number * 0 + 1)
	@return $number
	
@function calcFluidFontSize($f-min, $f-max, $w-min, $w-max, $units: px)
	$f-min: strip-unit($f-min)
	$f-max: strip-unit($f-max)
	$w-min: strip-unit($w-min)
	$w-max: strip-unit($w-max)
	$k: ($f-max - $f-min)/($w-max - $w-min)

	$b: $f-min - $k * $w-min
	$b: $b + $units

	@return calc( #{$k} * 100vw + #{$b} )


@mixin fluidFontSize($f-min, $f-max, $w-min, $w-max, $fallback: false) 
	font-size: $f-min

	@media (min-width: $w-min) 
		@if ($fallback) 
			font-size: $fallback
		font-size: calcFluidFontSize($f-min, $f-max, $w-min, $w-max, px)
	
	@media (min-width: $w-max) 
		font-size: $f-max
	
@mixin header-one
	font-family: Montserrat
	font-size: 1.5rem //24px
	font-weight: 700
	line-height: 1.875rem //30px
	// letter-spacing: -.5px //Was in old version

@mixin header-two
	font-family: Montserrat
	font-size: 1.1875rem //19px
	font-weight: 700
	line-height: 1.5rem //24px

@mixin header-three
	font-family: Montserrat
	font-size: 0.75rem //12px
	font-weight: 700
	line-height: 0.9375rem //15px
	text-transform: uppercase

@mixin body-text
	font-family: Montserrat
	font-size: 0.875rem //14px
	font-weight: 400
	line-height: 1.5rem //24px

*, *:before, *:after 
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box

html
	// font-size: 16px
	@include fluidFontSize(28px, 16px, 320px, 1320px)
	// width: 1440px
	margin: 0 auto

body, .body-text
	@include body-text

body, fieldset
	margin: 0
	padding: 0

input, fieldset
	@include body-text
	border: none
	color: inherit

a, a:link, a:visited, a:focus, a:hover, a:active,
input:hover, input:focus
	outline: none
	outline-offset: 0

a, a:link, a:visited, a:focus, a:hover, a:active
	text-decoration: none
	color: inherit

h1, h2, h3, p, ul, li
	margin: 0
	padding: 0

h1, .header1
	@include header-one

@media screen and (max-width:$tablet-max)
	.header1
		font-size: 1.2rem
		line-height: 1

@media screen and (max-width:$mobile-max)
	.header1
		font-size: 1.05rem

h2, .header2
	@include header-two

h3, .header3
	@include header-three

@media screen and (max-width:$mobile-max)
	.header3
		font-size: 0.65rem
	
.text-dark-shade-almost-total
	color: rgba($all-document-text-color, $dark-shade-almost-total)

.text-dark-shade-total
	color: rgba($all-document-text-color, $dark-shade-total)

.wrapper-paddings
	padding-left: 8.75rem
	padding-right: 8.75rem

@media screen and (max-width:$desktop-max)
	.wrapper-paddings
		padding-left: 1vw //10.6vw
		padding-right: 1vw //10.6vw

@media screen and (min-width:$television)
	.wrapper-paddings
		padding-left: 4vw //10.6vw
		padding-right: 4vw //10.6vw

@media screen and (min-width:$one-three-two-zero)
	.wrapper-paddings
		padding-left: 8.75rem //140px
		padding-right: 8.75rem //140px