@mixin header-one
	font-family: Montserrat
	font-size: 1.5rem //24px
	font-weight: 700
	line-height: 1.875rem //30px
	letter-spacing: -.5px

@mixin header-two
	font-family: Montserrat
	font-size: 1.1875rem //19px
	font-weight: 700
	line-height: 1.5rem //24px
	letter-spacing: -0.4px

@mixin header-three
	font-family: Montserrat
	font-size: 0.75rem //12px
	font-weight: 700
	line-height: 0.9375rem //15px
	text-transform: uppercase

@mixin body-text
	font-family: Montserrat
	font-size: 0.875rem //14px
	line-height: 1.5rem //24px

*, *:before, *:after 
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box

html
	font-size: 16px

body
	@include body-text

body, fieldset
	margin: 0
	padding: 0

input, fieldset
	@include body-text
	border: none
	
input:hover, input:focus
	outline: 0
	outline-offset: 0

h1, h2, h3, p
	margin: 0
	padding: 0

h1, .header1
	@include header-one
	
h2
	@include header-two

h3, .header3
	@include header-three  
