@import ./_name/feedback__name-when_name

.feedback__name-when
	align-self: center
	color: rgba($all-document-text-color, $dark-shade-almost-total)

@media screen and (max-width:$mobile-max)
	.feedback__name-when
		grid-area: name