include ../../../assets/blocks/navigation-bar/navigation-bar.pug
include ../../../assets/blocks/toxin-logo/toxin-logo.pug
include ../../../assets/blocks/nav-menu/nav-menu.pug


.wrapper.wrapper--dark-background
	.gull-emblem-container
		.gull-emblem.gull-emblem--grey
	.uikit-footers
		+navigation-bar()