include ../../../assets/blocks/header-footer-bar/header-footer-bar.pug
include ../../../assets/blocks/toxin-logo/toxin-logo.pug
include ../../../assets/blocks/copyrights/copyrights.pug
include ../../../assets/blocks/social-web-block/social-web-block.pug
include ../../../assets/blocks/nav-menu/nav-menu.pug
include ../../../assets/blocks/business-card/business-card.pug

.wrapper.wrapper--dark-background
	.gull-emblem-container
		.gull-emblem.gull-emblem--grey
	.uikit-footers
		+header-footer-bar-thin({
			loggedIn: false,
			uiKit: true,
			})
		.uikit-footers__vertical-gap
		+header-footer-bar-thin({
			loggedIn: true,
			userName: 'Юлий Цезарь',
			uiKit: true,
			})
		.uikit-footers__vertical-gap
		+header-footer-bar-wide
		.uikit-footers__vertical-gap
		+business-card