.room-description__image
  width: 3rem //48px
  height: 3rem //48px
  padding: .28125rem //4.5px //.25rem //4px

.room-description__text
  opacity: $dark-shade-almost-total
  margin-left: .625rem //10px

.room-description__text--title
  font-weight: 700

.room-description__bottom-line
  margin-top: 1.25rem //20px
  margin-bottom: 1.25rem //20px
  width: 87.5%
  height: 1px
  background: rgba(#1F2041, .1)

.room-description__no-line
  margin-top: 1.25rem //20px
  margin-bottom: 1.25rem //20px
  height: 1px                                                                                                                                                                                                                                                                                                                                 
  
.room-description
  display: flex