mixin room-description(array)
	each index in array
		.room-description
			img(src=index.image).room-description__image
			.room-description__text
				p.room-description__text--title= index.title
				p= index.content
		if index.bottomLine == 'true'
			.room-description__bottom-line
		else
			.room-description__no-line