mixin room-description(array)
	each index in array
		.room-description
			img(src=index.image).room-description__image
			.room-description__text
				p.room-description__text--title= index.title
				p= index.content
		if index.bottomLine == 'true'
			.room-description__margin-between.horizontal-line
		else
			.room-description__margin-between

mixin room-description-shorthand
	+room-description([
					{
						image: './img/smily-face.svg',
						title: 'Комфорт',
						content: 'Шумопоглощающие стены',
						bottomLine: 'true'
					},
					{
						image: './img/city-house.svg',
						title: 'Удобство',
						content: 'Окно в каждой из спален',
						bottomLine: 'true'
					},
					{
						image: './img/whats-hot.svg',
						title: 'Уют',
						content: 'Номер оснащен камином',
						bottomLine: 'false'
					},
				])