.toxin-logo__sign
  margin-left: .75rem //12px
  margin-top: .8125rem //13px
  background: url(@/assets/blocks/toxin-logo/toxin.svg) no-repeat
  background-size: contain
  width: 3.375rem //54px
  height: 1rem //16px
  
.toxin-logo__gull
  width: 2.5rem
  height: 2.5rem

.toxin-logo
  display: flex