mixin range-slider
	.text-field-with-info
		h3(class='text-field-with-info__title text-field-with-info__title--padding-top') range slider
		.text-field-with-info__status
			input(type='text' id='mySliderAmount' class='text-field-with-info__status-text header3' readonly)
			label(for='mySliderAmount')
		.text-field-with-info__visualisation
			div(class = 'slider-range ui-slider--my-slider' id='slider-range')