.ui-slider--my-slider
	border: .0625rem solid rgba($all-document-text-color, $dark-shade-quater) 
	border-radius: .1875rem //3px
	width: 100% //16.625rem //266px
	height: .375rem //6px
	margin-top: 18px

.ui-slider .ui-slider-range--my-range
	background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)
	box-sizing: content-box
	border-bottom: .0625rem solid #66D2EA
	border-top: .0625rem solid #6FCF97

.ui-slider .ui-slider-handle
	margin-top: -.09375rem //1.5px
	width: 1.125rem //18px //1.0625rem //17px 
	height: 1.125rem //18px //1.0625rem //17px 
	border-radius: 50%

.ui-state-default
	border: 3px solid #fff
	background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)

.ui-state-hover, .ui-state-focus
	border: .0625rem solid $all-document-text-color