.ui-slider-handle--myhandle
	border: 1px solid $all-document-text-color $dark-shade-quater
	border-radius: 3px
	width: 266px
	height: 6px

.ui-slider-range
	background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)
	box-sizing: content-box
	border-bottom: 1px solid #66D2EA
	border-top: 1px solid #6FCF97
	
.ui-slider-handle
	margin-top: -1.5px
	width: 12px
	height: 12px
	border-radius: 50%