mixin range-slider
	.additional-info-block
		h3(class='additional-info-block__title additional-info-block__title--padding-top') range slider
		.additional-info-block__status
			input(type='text' id='amount' class='additional-info-block__status-text header3' readonly)
			label(for='amount')
		.additional-info-block__visualisation
			div(class = 'slider-range ui-slider--my-slider' id='slider-range')