@import ./_hidden/expandable-checkbox-list__fieldset_hidden

.expandable-checkbox-list__fieldset
  position: absolute
  top: 2.3125rem
  left: 0
  margin: 0
  padding: 0
  border: none
  width: 100%
  background: white
  z-index: 5