.feedback__icon
	position: relative

@media screen and (max-width:$mobile-max)
	.feedback__icon
		grid-area: icon

.feedback__icon img
	position: absolute
	top: -2px
	left: -2px
	object-fit: cover
	border-radius: 50%
	border: 2px solid #fff