.dropdown__clear-submit
  display: flex
  flex-direction: row-reverse
  justify-content: space-between
  align-content: center
  margin-top: .875rem //14px //.9375rem //15px
  margin-bottom: .75rem //12px //.125rem //2px

.dropdown__clear-submit input[type=reset]
  padding-left: .125rem //2px
  padding-right: .125rem //2px
  margin-left: -.125rem //-2px
  text-align: left
  width: fit-content

.dropdown__clear-submit input[type=submit]
  padding-right: .125rem //2px
  padding-left: .125rem //2px
  margin-right: -.125rem //2px 
  text-align: right
  width: fit-content