.dropdown__clear-submit
  display: flex
  justify-content: space-between
  align-content: center
  margin-top: .9375rem //15px
  margin-bottom: .125rem //2px

.dropdown__clear-submit input[type=reset]
  padding-left: .8125rem //13px
  text-align: left

.dropdown__clear-submit input[type=submit]
  padding-right: .25rem //4px
  text-align: right