mixin text-field-with-info(obj)
	.text-field-with-info
		- var titleClass = 'text-field-with-info__title'
		if obj.titleClass
			- titleClass += ' text-field-with-info__title--'+obj.titleClass
		h3(class=titleClass)= obj.title
		h3(class='text-field-with-info__status text-field-with-info__status-text')= obj.aditional
		.text-field-with-info__visualisation
			+text-field({field_type: obj.tfType, dropdown_hidden: obj.tfDropdownHidden, name: obj.tfName, placeholder: obj.tfPlaceholder, pattern: obj.tfPattern,
				corners: obj.tfCorners, value: obj.tfValue, hovered: obj.tfHovered})