.text-field-with-info__title
	grid-column: 1
	grid-row: 1

.text-field-with-info__title--padding-top
	padding-top: 3px//.21875rem //3.5px

.text-field-with-info__status
	grid-column: 2
	grid-row: 1

.text-field-with-info__status-text
	text-align: right
	font-weight: 400
	color: rgba($all-document-text-color, $dark-shade-half)

.text-field-with-info__status-text--compact
	letter-spacing: -.2px

.text-field-with-info__visualisation
	padding-top: .3125rem //5px
	grid-column: span 2
	grid-row: 2
	display: flex
	align-items: center

.text-field-with-info
	display: grid
	grid-template-columns: 10fr 1fr