mixin text-field-with-info(obj)
	.additional-info-block
		if obj.titleClass
			- var titleClass = 'additional-info-block__title--' + obj.titleClass
		h3(class='additional-info-block__title ' + titleClass)= obj.title
		h3(class='additional-info-block__status additional-info-block__status-text')= obj.aditional
		.text-field-cont__visualisation
			+text-field({field_type: obj.tfType, dropdown_hidden: obj.dropdown_hidden, name: obj.tfName, value: obj.tfValue, pattern: obj.tfPattern})