.room-detail-main__diagram-block
	grid-area: diagram

@media screen and (max-width:$laptop-max)
	.room-detail-main__diagram-block
		margin: 0 auto
	// padding-right: .5rem //8px
	// justify-self: center

@media screen and (max-width:$tablet-max)
	.room-detail-main__diagram-block
		margin: 0