.landing-page__find-room
	margin-top: 4.375rem //70px
	margin-left: 8.75rem //140px
	
@media screen and (max-width:$laptop-max)
	.landing-page__find-room
		margin: 5vh auto

@media screen and (max-width:$mobile-max)
	.landing-page__find-room
		margin: 1vh auto