.pagination-block
  display: flex
  flex-direction: column

.pagination-block__pages-list
  display: flex
  justify-content: space-between

.pagination-block__total-pages-list
  margin-left: .25rem //4px
  margin-top: .5rem //8px
