extends ./landing-templ.pug
block content
	
	h1
		a(href='./landingstart.html') Start landing page
		br
		a(href='./landingdates.html') Datepicker opened landing page
		br
		a(href='./landingguests.html') Guest dropdown opened landing page

	//- include ./start/index.pug
	//- include ./dates-dropdown/index.pug
	//- include ./guests-dropdown/index.pug
