//- include ./template.pug
extends ./template.pug
block content
	h1
		a(href='./start.html') Start landing page
		br
		a(href='./dates.html') Datepicker opened landing page
		br
		a(href='./guests.html') Guest dropdown opened landing page

	//- include ./start/index.pug
	//- include ./dates-dropdown/index.pug
	//- include ./guests-dropdown/index.pug