@import @/styles/styles.sass
@import @/assets/blocks/gull-emblem/gull.sass
@import @/assets/blocks/arrow/arrow
@import @/assets/blocks/arrow-triangle/arrow-triangle
@import @/assets/blocks/cards-styles/cards-styles
@import @/assets/blocks/elongated-button/elongated-button
@import @/assets/blocks/border-corners/border-corners
@import @/assets/blocks/toxin-logo/toxin-logo
@import @/assets/blocks/nav-menu/nav-menu
@import @/assets/blocks/header-footer-bar/header-footer-bar
@import @/assets/blocks/text-field/text-field
@import @/assets/blocks/text-field-with-info/text-field-with-info
@import @/assets/blocks/copyrights/copyrights.sass
@import @/assets/blocks/social-web-block/social-web-block.sass
@import @/assets/blocks/incdec-field/incdec-field

@import @/assets/blocks/datepicker/datepicker
@import @/assets/blocks/dropdown/dropdown

@import @/assets/blocks/room-search/room-search

.landing-page__find-room
  margin-top: 4.375rem //70px
  margin-left: 8.75rem //140px
  
@media screen and (max-width:$laptop-max)
  .landing-page__find-room
    margin: 5vw auto

.landing-page__only-text
  position: absolute
  width: 18.125rem //290px
  bottom: 1.3125rem //21px
  right: 8.375rem //134px
  text-align: right

@media screen and (max-width:$laptop-max)
  .landing-page__only-text
    right: 0
    bottom: 0 
    position: relative
    text-align: center
    width: auto

.landing-page__header-container
  position: relative
  height: 900px
  background: url('@/assets/img/landing1.jpg') no-repeat center
  background-size: cover

@media screen and (max-width:$laptop-max)
  .landing-page__header-container
    display: flex
    flex-direction: column

.landing-page__footer-container