.ui-slider .ui-slider-range--my-range
	background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)
	box-sizing: content-box
	border-bottom: .0625rem solid #66D2EA
	border-top: .0625rem solid #6FCF97