.like-button__content
  position: absolute
  text-align: right
  left: 1.25rem //20px
  top: 0px
  line-height: 1.0625rem //17px
  font-size: 0.625rem //10px
  color: rgba($all-document-text-color, $dark-shade-quater)

.like-button-input:checked+label .like-button__content
  color: rgba($purple, $dark-shade-total)