.like-button__background
  position: absolute
  top: -.0625rem //-1px
  left: -.0625rem //-1px
  content: ''
  width: 2.5rem //40px
  height: 1.25rem //20px
  background: rgba($all-document-text-color, $dark-shade-quater)
  border-radius: 0.625rem //10px
  z-index: -5

.like-button-input:checked+label .like-button__background
  background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%)