.login-form__no-account-form
  display: flex
  justify-content: space-between


.login-form__user-data-fieldset
  height: 102px
  margin-top: -10px
  margin-bottom: -18px
  
  
.login-form
  height: 358px