mixin login-form(object)
	include ../text-field/text-field.pug
	include ../elongated-button/elongated-button.pug
	.login-form.card-styles--white-background.cards-styles--flex.cards-styles--space-between.cards-styles-box-shadow.cards-styles-size-and-paddings
		.header1 Войти
		form(id = object.id class='' method='get' action='')
			fieldset(class='login-form__user-data-fieldset cards-styles--flex cards-styles--space-between')
					+text-field({
						field_type: 'text-field', 
						name: 'userName', 
						placeholder: 'Email',
						InputType: 'email',
					})
					.cards-styles--text-field-padding-bottom
					+text-field({
						field_type: 'text-field', 
						name: 'surname', 
						placeholder: 'Пароль',
						InputType: 'password',
					})
		+elongated-button({sizeWidth: '100%', sizeHeight: '2.75rem', text: 'войти', buttonType: 'with-arrow-right', formToSubmit: object.id})
			//- ?Может заменить на <a>? или через JS обрабатывать, чтобы страничку не перезагружать
		form(id = 'createAccauntForm' class = 'counter-account-block' method='get' action='/register.html')
			span Нет аккаунта на Toxin?
			+elongated-button({sizeWidth: '6.1875rem', sizeHeight: '2.75rem', text: 'создать', buttonType: 'empty', formToSubmit: 'createAccauntForm'})