@import ../counter-account-block/counter-account-block

.login-form__no-account-form
  display: flex
  justify-content: space-between


.login-form__user-data-fieldset
  height: 6.125rem //98px
  margin-top: -.6875rem //-11px
  margin-bottom: -.75rem //-12px
  
.login-form
  height: 22.375rem //358px