.cards-styles-box-shadow
  border: .0625rem solid rgba(0, 0, 0, .12)
  box-shadow: 0 0 1.5625rem rgba(0, 0, 0, .2) //25px

.cards-styles-size-and-paddings
  width: 23.75rem //380px
  padding: 1.875rem //30px
  padding-top: 2.5rem //40px

.cards-styles--flex
  display: flex
  flex-direction: column
  justify-content: space-between

.card-styles--white-background
  background: #FFFFFF