//Имитация жирного шрифта тенями для избежания смещения остальных пунктов меню	
.nav-menu__item:hover,.nav-menu__item--hovered
	color: $shadow
	cursor: pointer
	text-shadow: 1px 0 0 $shadow, -1px 0 0 $shadow, 0 1px 0 $shadow, 1px 1px 0 $shadow, -1px 1px 0 $shadow