@import ./__content-block/business-card__content-block
  
.business-card
  width: 48rem //768px
  height: 22.9375rem //367px
  margin: 0 auto
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center