@import ./_next/gallery-small__arrow-wrapper_next
@import ./_prev/gallery-small__arrow-wrapper_prev

.gallery-small__arrow-wrapper
	content: ''
	position: absolute
	top: 0
	width: 2.625rem //42px
	height: 100%
	display: flex
	justify-content: center
	align-items: center
	cursor: pointer
	color: white
	border-top-left-radius: inherit
	