@import ./__canvas/diagram__canvas
@import ./__inner-text/diagram__inner-text
@import ./__legend/diagram__legend
@import ./__legend-list/diagram__legend-list
@import ./__legend-list-item/diagram__legend-list-item
@import ./__legend-list-marker/diagram__legend-list-marker

.diagram
	display: flex
	justify-content: space-between
	width: 100%
	height: 100%