mixin diagram(object)
	.diagram
		.diagram__canvas
			canvas(id='room-impression-chart' width='100%' height='100%')
			.diagram__inner-text
				span.header3 голосов
		.diagram__legend(id='room-impression-chart-legend')
	//- p= object.total
	//- p= object.great
	//- p= object.good
	//- p= object.soso
	//- p= object.disgusting