include ../../../assets/blocks/elongated-button/elongated-button.pug
include ../../../assets/blocks/toxin-logo/toxin-logo.pug
include ../../../assets/blocks/nav-menu/nav-menu.pug
include ../../../assets/blocks/header-footer-bar/header-footer-bar.pug
include ../../../assets/blocks/text-field/text-field.pug
include ../../../assets/blocks/text-field-with-info/text-field-with-info.pug
include ../../../assets/blocks/incdec-field/incdec-field.pug
include ../../../assets/blocks/copyrights/copyrights.pug
include ../../../assets/blocks/social-web-block/social-web-block.pug
//- include ../../../assets/blocks/gender-select-radio/gender-select-radio.pug
include ../../../assets/blocks/checkbox-radio/checkbox-radio.pug
include ../../../assets/blocks/user-register/user-register.pug
include ../../../assets/blocks/login-form/login-form.pug