@import ./__guests-container/room-search__guests-container

.room-search
  height: 23.4375rem // 375px //23.375rem //374px

@media screen and (max-width:$mobile-max)
  .room-search
    text-align: center
    height: 88vh