mixin room-search(object)
	form(id = object.id class='room-search cards-styles--flex cards-styles-box-shadow cards-styles-size-and-paddings')
		.header1 Найдём номера под ваши пожелания
		+multi-datepicker({id: 'datepicker-' + object.id + '-multiple', titleStart: 'прибытие', titleEnd: 'выезд', setDateStart: 'ДД.ММ.ГГГГ', setDateEnd: 'ДД.ММ.ГГГГ' })
		.room-search__guests-container
			+dropdown({
						items: [
							{idName: 'grownup', text: 'взрослые', value: '0', valueDependendText: ['гостей', 'гость', 'гостя'] },
							{idName: 'kids', text: 'дети', value: '0', valueDependendText: ['гостей', 'гость', 'гостя'] },
							{idName: 'infants', text: 'младенцы', value: '0', valueDependendText: ['младенцев', 'младенец', 'младенца'] }
						],
						dropdownName: 'guests-' + object.id,
						tfEmptyTitle: 'Сколько гостей',
						tfTitle: 'гости',
						expanded: false,
						hasButtonsBelow: true
					})
		+elongated-button({sizeWidth: '20rem', sizeHeight: '2.75rem', text: 'подобрать номер', buttonType: 'with-arrow-right', formToSubmit: object.id})