@import ./__text/incdecField__text
@import ./__settings/incdecField__settings
@import ./__input-button/incdecField__input-button
@import ./__my-input/incdecField__my-input

.incdecField
  display: flex
  justify-content: space-between
  margin: 0 auto
  width: 100%
  padding-bottom: .4375rem //7px
