@import ./_full-color/elongated-button_full-color
@import ./_empty-inside/elongated-button_empty-inside
@import ./_no-border/elongated-button_no-border
@import ./__text/elongated-button__text
@import ./__arrow-block/elongated-button__arrow-block
	
.elongated-button:disabled:before
	opacity: $dark-shade-half

.elongated-button:disabled
	cursor:  default
	
.elongated-button
	position: relative
	border-radius: $elongated-button-border-radius
	border: none
	cursor: pointer

.elongated-button,
.elongated-button:active,
.elongated-button:focus,
.elongated-button:hover
	outline: none
	padding: 0

.elongated-button:not(:disabled):hover,
.elongated-button--hovered
	background: $elongated-button-background-gradient

.elongated-button:focus
	background: rgba($green, .25)

