mixin elongated-button(obj)
	.div(style='height: 44px; width:99px; margin-bottom:10px')
		button(class='elongated-button elongated-button--full-color') 
			h3(class='elongated-button__text elongated-button__text--white') click me
	.div(style='height: 44px; width:99px; margin-bottom:10px')
		button(class='elongated-button elongated-button--full-color' disabled) 
			h3(class='elongated-button__text elongated-button__text--white') click me
	.div(style='height: 44px; width:99px; margin-bottom:10px')
		button(class='elongated-button elongated-button--empty-inside') 
			h3(class='elongated-button__text elongated-button__text--purple') click me
	.div(style='height: 44px; width:99px; margin-bottom:10px')
		button(class='elongated-button elongated-button--empty-inside' disabled) 
			h3(class='elongated-button__text elongated-button__text--purple') click me

	.div(style='height: 44px; width:99px; margin-bottom:10px')
		button(class='elongated-button elongated-button--no-border' disabled) 
			h3(class='elongated-button__text elongated-button__text--purple') click me
	.div(style='height: 44px; width:99px; margin-bottom:10px')
		button(class='elongated-button elongated-button--no-border' disabled) 
			h3(class='elongated-button__text') click me
	.div(style='height: 44px; width:320px; margin-bottom:10px')
		button(class='elongated-button elongated-button--full-color') 
				h3(class='elongated-button__text elongated-button__text--white') перейти к оплате
				.arrow-forward