mixin elongated-button(obj)
  .div(style='height: 20px')
  button(class='elongated-button elongated-button--full-color') 
    h3(class='elongated-button__text elongated-button__text--white') click me
  .div(style='height: 20px')
  button(class='elongated-button elongated-button--full-color' disabled) 
    h3(class='elongated-button__text elongated-button__text--white') click me
  .div(style='height: 20px')
  button(class='elongated-button elongated-button--empty-inside') 
    h3(class='elongated-button__text elongated-button__text--purple') click me
  .div(style='height: 20px')
  button(class='elongated-button elongated-button--empty-inside' disabled) 
    h3(class='elongated-button__text elongated-button__text--purple') click me