mixin elongated-button(obj)
	-
		let buttonType = '';
		let textColor = '';
		let addArrow = false;
		switch (obj.buttonType) {
			case 'with-arrow' : addArrow = true;
			case 'filled' : 
				buttonType = 'elongated-button--full-color';
				textColor = 'elongated-button__text--white';
				break;
			case 'empty' :
				buttonType = 'elongated-button--empty-inside';
				textColor = 'elongated-button__text--purple';
				break;
			case 'no-border' :
				buttonType = 'elongated-button--no-border';
				if (!obj.disabled) textColor = 'elongated-button__text--purple';
				break;
			default : break;
		}
	div(style='height: ' + obj.sizeHeight + '; width: ' + obj.sizeWidth)
		button(class='elongated-button ' + buttonType disabled=obj.disabled) 
			h3(class='elongated-button__text ' + textColor)= obj.text
			if addArrow
				.elongated-button__arrow-block
					div(class='arrow arrow--white')
