@import url("~normalize.css")
@import ../_fonts

body
  font-family: 'staatliches', sans-serif
  
.container
  padding-top: 2rem
  margin: 1000px
  margin: 0 auto

h1
  text-align: center

h2
  text-align: right
  padding-top: 15px
  color: blue

.logo
  background-image: url("@/assets/pngtd.png")
  background-size: cover
  height: 200px
  width: 300px
  margin: 0 auto

p
  color: red