.datepicker__calendar-conatiner
	position: relative
	width: 100% 
	height: 100%

// .datepicker__calendar-conatiner .date-picker-wrapper
// 	margin-left: -12px //Компенсация базового смещения в плагине
