.header-footer-bar__button-block--mobile
	display: none

.header-footer-bar__button-block--desktop
	display: inline-block

.header-footer-bar__button-block--margin-right
	margin-right: 1.25rem //20px

.header-footer-bar__button-block
	

@media screen and (max-width:$laptop-max)
	.header-footer-bar__button-block--desktop
		display: none

	.header-footer-bar__button-block--mobile
		display: inline-block