.search-room__room-list
	display: grid
	grid-template-columns: repeat(3, 1fr)
	grid-auto-rows: minmax(270px, auto)
	gap: 8px 12px

@media screen and (max-width:$one-three-two-zero)
	.search-room__room-list
		justify-content: space-evenly
		gap: 8vh 0
		grid-template-columns: repeat(2, auto)

@media screen and (max-width:$desktop-max)
	.search-room__room-list
		grid-template-columns: auto