.room-detail-main__rules
	grid-area: rules
	width: 16.25rem //260px

@media screen and (max-width:$laptop-max)
	.room-detail-main__rules
		justify-self: center
		
@media screen and (max-width:$desktop-max)
	.room-detail-main__rules
		width: 90%
