.search-room__catalog-container
	flex: 1 1 81.125rem //1298px
	display: flex
	flex-direction: column
	justify-content: space-between
	height: 78.375rem //1254px

@media screen and (max-width:$one-three-two-zero)
	.search-room__catalog-container
		height: auto

@media screen and (max-width:$desktop-max)
	.search-room__catalog-container
		flex: 1 1 auto