.diagram__legend-list-item
	position: relative
	list-style-type: none

@media screen and (max-width:$tablet-max)
	.diagram__legend-list-item
		font-size: 0.7rem
		line-height: 1.2

@media screen and (max-width:$mobile-max)
	.diagram__legend-list-item
		font-size: 0.5rem
		line-height: 1.5