.login-form__user-data-fieldset
	height: 6.125rem //98px
	margin-top: -.6875rem //-11px
	margin-bottom: -.75rem //-12px

@media screen and (max-width:$mobile-max)
	.login-form__user-data-fieldset
		height: auto
		margin: 1rem 0
