include ../../../assets/blocks/room-search/room-search.pug
include ../../../assets/blocks/user-register/user-register.pug
include ../../../assets/blocks/room-booking/room-booking.pug
include ../../../assets/blocks/login-form/login-form.pug
include ../../../assets/blocks/gallery-room-small/gallery-room-small.pug
include ../../../assets/blocks/room-small-info/room-small-info.pug

.wrapper.wrapper__cards.wrapper--dark-background
	.gull-emblem-container
		.gull-emblem.gull-emblem--grey
	.uikit-cards
		+room-search({
			id: 'uikitRoomSearch',
		})
		.uikit-cards__flex-gap
		+user-register({id: 'uikitUserRegister'})
		+room-booking({
			id:'uikitRoomBooking',
			roomNumber: '888',
			roomExtra: 'люкс',
			dateIn: '19.08.2019',
			dateOut: '23.08.2019',
			guests: ['2','1','0'],
			pricePerDay: 9990,
			discount: 2179,
			extraServicesPrice: 300,
			})
		.uikit-cards__flex-gap(style='height:38px')
		+login-form({id: 'uikit-user-login'})
		div(style='height:369px;width:320px;')
			+inline
		.uikit-cards__flex-gap
		+room-small-info({
			hasArrows: true,
			roomNumber: '888',
			roomExtra: 'люкс',
			pricePerDay: 9990,
			rating: 5,
			feedbackCount: 145,
		})
		.uikit-cards__flex-gap
		+room-small-info({
			hasArrows: false,
			roomNumber: '840',
			pricePerDay: 9900,
			rating: 4,
			feedbackCount: 65,
		})