include ../../../assets/blocks/room-search/room-search.pug
include ../../../assets/blocks/user-register/user-register.pug

.wrapper.wrapper__cards
	.gull-emblem-container
		.gull-emblem
	.uikit-cards
		+room-search({
			id: 'uikit-room-search',
		})

		+user-register ({

		})

		.cards-styles--flex.cards-styles-box-shadow.cards-styles-size-and-paddings
		