include ../../../assets/blocks/room-search/room-search.pug

.wrapper.wrapper__cards
	.gull-emblem-container
		.gull-emblem
	.uikit-cards
		+room-search({
			id: 'uikit-room-search',
			title: 'Найдём номера под ваши пожелания',
		})