- var menuItemClass = ''

mixin nav-menu(array)
	ul.nav-menu
		each index in array
			- 
				menuItemClass = 'nav-menu__item'
				if ( index.hovered )
					menuItemClass += ' nav-menu__item--hovered'
				else 
					menuItemClass += ' nav-menu__item--not-hovered'
			
			li(class=menuItemClass)= index.title
				- if ( index.subTitles )
					.nav-menu__arrow-container
						.arrow-triangle.arrow-triangle--to-bottom
					ul.nav-menu__submenu.nav-menu__submenu--hidden
						each subIndex in index.subTitles
							li.nav-menu__item.nav-menu__item--not-hovered= subIndex