$shadow: .5px
	
.nav-menu__item:hover,.nav-menu__item--hovered
	color: rgba($all-document-text-color, $dark-shade-almost-total)
	cursor: pointer
	font-weight: 700
	// text-shadow: .5px 0 $shadow rgba($all-document-text-color, $dark-shade-almost-total), 0 -.5px $shadow rgba($all-document-text-color, $dark-shade-almost-total)
	// text-shadow: 0 .5px $shadow rgba($all-document-text-color, $dark-shade-almost-total), -.5px 0 $shadow rgba($all-document-text-color, $dark-shade-almost-total)	


.nav-menu__item--not-hovered
	color: rgba($all-document-text-color, $dark-shade-half)

.nav-menu__item
	// color: rgba($all-document-text-color, $dark-shade-half)
	display: inline-block
	padding-right: 21px
	

.nav-menu
	// display: flex
	// justify-content: space-between
	list-style-type: none
	padding: 0