@import ./__arrow-container/nav-menu__arrow-container
@import ./__item/nav-menu__item
@import ./__submenu/nav-menu__submenu
@import ./_flexible/nav-menu_flexible
@import ./__header-li/nav-menu__header-li
@import ./_inline-burger/nav-menu_inline-burger

.nav-menu
	position: relative
	list-style-type: none
	padding: 0
	margin: 0

.nav-menu *
	user-select: none

@media screen and (max-width:$laptop-max)
	.nav-menu
		