.landing-page__only-text
	position: absolute
	width: 18.125rem //290px
	bottom: 1.3125rem //21px
	right: 8.375rem //134px
	text-align: right

@media screen and (max-width:$laptop-max)
	.landing-page__only-text
		right: 0
		bottom: 0 
		position: relative
		text-align: center
		width: auto