.room-booking__title--right
	align-self: flex-end
	text-align: right
	margin-bottom: -.125rem //-2px
	color: rgba($all-document-text-color, .5)

.room-booking__title--right span:first-child
	font-weight: bold

.room-booking__title--right span:last-child
	font-size: .75rem
