@media screen and (min-width:$desktop-max)
	.header-footer-bar__button-block--mobile
		display: none

@media screen and (max-width:$desktop-max)
	.header-footer-bar__button-block--mobile
		display: inline-block
		margin-right: .1em

@media screen and (max-width:$laptop-max)
	.header-footer-bar__button-block--mobile
		margin-left: 15vw

@media screen and (max-width:$tablet-max)
	.header-footer-bar__button-block--mobile
		margin-left: 5vw