.room-number-and-price__left span:first-child
	font-weight: 700

.room-number-and-price__left span:last-child
	color: $purple
	margin-left: 2px

.room-number-and-price__left span:nth-child(3)
	vertical-align: middle

@media screen and (max-width:$mobile-max)
	.room-number-and-price__left
		text-align: center