.landing-page__header-container
	position: relative
	height: 900px
	background: url('@/assets/img/landing1.jpg') no-repeat center
	background-size: cover

@media screen and (max-width:$laptop-max)
	.landing-page__header-container
		display: flex
		flex-direction: column