.ui-slider--my-slider
	border: .0625rem solid rgba($all-document-text-color, $dark-shade-quater) 
	border-radius: .1875rem //3px
	width: 100% //16.625rem //266px
	height: .375rem //6px
	margin-top: 18px

@media screen and (max-width:$laptop-max)
	.ui-slider--my-slider
		margin-bottom: .5rem