@import ./__left/room-number-and-price__left
@import ./__right/room-number-and-price__right
@import ./__per-day/room-number-and-price__per-day

.room-number-and-price
	display: flex
	justify-content: space-between

@media screen and (max-width:$mobile-max)
	.room-number-and-price
		font-size: .7rem